<template>
  <section class="about top-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>This is an about page</h1>
        </div>
      </div>
    </div>
  </section>
</template>
