<template>
  <section class="cartview top-spacing pt-5 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb-0">Secure Checkout</h3>
          <p>You have 6 items in your cart</p>
        </div>
        <div class="col-md-8 pdg-lt">
          <div class="cart-card mb-3 remove-before">
            <h5>Profile Login</h5>
            <p>User Name . 9136945634</p>
            <hr />
            <div class="phone-number-verfication">
              <h5>Phone Number Verification</h5>
              <p>
                Kindly enter your registered phone number for OTP verification
              </p>
              <div class="row">
                <div class="col-7 phn-no-ver">
                  <label for="input-with-list" class="mob-code">+91</label>
                  <b-form-input
                    v-model="text"
                    placeholder="Enter your number"
                  ></b-form-input>
                  <span class="message-error-input"
                    >Please enter a valid mobile number</span
                  >
                </div>
                <div class="col-5">
                  <button type="submit" class="btn btn-primary mb-2">
                    Send OTP
                  </button>
                </div>
              </div>

              <p>
                Enter the OTP send to 9847546825
                <a href="#" class="primary-link mrgin-lft">Change number</a>
              </p>
              <div class="row">
                <div class="col-7 otp-enter">
                  <b-form-input
                    v-model="text"
                    placeholder="Enter your number"
                  ></b-form-input>
                </div>
                <div class="col-5">
                  <button type="submit" class="btn btn-primary mb-2">
                    Confirm
                  </button>
                </div>
              </div>
              <p class="mb-0">
                <a href="#" class="primary-link">Resend OTP</a>
              </p>
            </div>
            <span class="icon-active">
              <img src="@/assets/images/active.png" class="img-fluid" />
            </span>
          </div>
          <div class="cart-card mb-3">
            <h5>
              Delivery Address
              <a
                href="#"
                class="primary-link float-right"
                id="show-btn"
                @click="$bvModal.show('bv-modal-address-change')"
                >CHANGE</a
              >
              <Chooseaddress />
            </h5>
            <p class="mb-0">Please add a delivery address to continue</p>
            <div
              class="no-adrs mt-3"
              id="show-btn"
              @click="$bvModal.show('bv-modal-address')"
            >
              <h6>No Address Selected</h6>
              <p class="mb-0">
                <img src="@/assets/images/add.png" class="img-fluid" /> Please
                add a delivery address to continue
              </p>
            </div>
            <Addnewaddress />
            <span class="icon-active">
              <img src="@/assets/images/step-two.png" class="img-fluid" />
            </span>
          </div>
          <div class="cart-card mb-3 cart-collapse remove-after">
            <div v-b-toggle.collapse-1 variant="primary" class="collapsebtn">
              <h5>Payment</h5>
              <p class="mb-0">
                Choose your payment method
              </p>
            </div>
            <b-collapse id="collapse-1" class="mt-2">
              <b-card class="inner-collapse">
                <div class="cart-card mb-3 mt-3 remove-after remove-before">
                  <div class="row pb-3">
                    <div class="col-8">Total Amount</div>
                    <div class="col-4 text-right pl-0">₹1080.78</div>
                  </div>
                  <div class="row pb-1">
                    <div class="col-8">
                      <b>Total Amount Payable</b> (inc of all taxes)
                    </div>
                    <div class="col-4 text-right pl-0"><b>₹1080.78</b></div>
                  </div>
                </div>
                <div
                  class="offers-green mb-3"
                  id="show-btn"
                  @click="$bvModal.show('bv-modal-promocode')"
                >
                  <h5>Offers</h5>
                  <p class="mb-0">
                    <img src="@/assets/images/discount.png" class="img-fluid" />
                    Select a promo code, if applicable to avail the offer
                  </p>
                </div>
                <Promocodeoffers />

                <div class="payment-method-tabs">
                  <b-tabs content-class="mt-3" align="center">
                    <b-tab title="Wallet" active
                      ><p>I'm the first tab</p></b-tab
                    >
                    <b-tab title="Cash on delivery">
                      <div class="proceed-to-checkout">
                        <div class="centerd">
                          <img
                            src="@/assets/images/del.png"
                            class="img-fluid mb-3"
                          />
                          <p>
                            Please pay ₹379.30 to the delivery executive when
                            your order is delivered
                          </p>
                          <a href="#" class="btn btn-primary d-block"
                            >Proceed to checkout</a
                          >
                        </div>
                      </div>
                    </b-tab>
                    <b-tab title="Razorpay"><p>I'm a disabled tab!</p></b-tab>
                  </b-tabs>
                </div>
              </b-card>
            </b-collapse>
            <span class="icon-active">
              <img src="@/assets/images/step-3.png" class="img-fluid" />
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="cart-subtotal">
            <div class="subtotal-wrap">
              <div class="row pb-1">
                <div class="col-6">Subtotal</div>
                <div class="col-6 text-right">₹200</div>
              </div>
              <div class="row pb-1">
                <div class="col-6">Delivery Charge</div>
                <div class="col-6 text-right green">Free</div>
              </div>
              <div class="row pb-1">
                <div class="col-6">Discount</div>
                <div class="col-6 text-right">0</div>
              </div>
              <hr />
              <div class="row total-amount">
                <div class="col-6">Total Amount</div>
                <div class="col-6 text-right">₹200</div>
              </div>
            </div>
            <div
              class="btn btn-primary d-block"
              id="show-btn"
              @click="$bvModal.show('bv-modal-mycart')"
            >
              My Cart (6 items)
              <span>View ></span>
            </div>

            <Mycart />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
// @ is an alias to /src
import Addnewaddress from "@/components/Addnewaddress.vue";
import Chooseaddress from "@/components/Chooseaddress.vue";
import Mycart from "@/components/Mycart.vue";
import Promocodeoffers from "@/components/Promocodeoffers.vue";

export default {
  components: {
    Addnewaddress,
    Chooseaddress,
    Mycart,
    Promocodeoffers,
  },
};
</script>
