<template>
  <div class="home top-spacing">
    <Banner />
    <section class="section-one pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center heading-with-line">
              <span class="line-left"></span> Todays Specials
              <span class="line-right"></span>
            </h1>
            <p class="sub-text text-center pb-4">
              Quality Fresh Meat And Poultry Direct To Your Home
            </p>
          </div>
          <div class="col-md-12">
            <Carousal />
          </div>
          <div class="col-md-12 text-center">
            <a href="todaydeals" class="secondary-link"
              >See all Todays Specials >></a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="section-two pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span> Speed Deals
              <span class="line-right"></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Keep your must-have staples on hand while they last!
            </p>
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-12 text-center">
            <a href="todaydeals" class="secondary-link"
              >See all Speed Deals >></a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="section-three pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>New Arrivals<span
                class="line-right"
              ></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt.
            </p>
          </div>
          <div class="col-md-12">
            <Carousal />
          </div>
          <div class="col-md-12 text-center">
            <a href="todaydeals" class="secondary-link"
              >See all New Arrivals >></a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="why-choose pb-5 pt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 pb-4">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>Why choose freshoppe?<span
                class="line-right"
              ></span>
            </h2>
          </div>
          <div class="col-md-4">
            <img src="@/assets/images/1.png" />
            <div class="h4">Ordered today? Get it today</div>
            <p>
              You have many options to shop for your daily needs of poultry and
              fish but how many of them guarantee you fresh products? Freshoppe
              is the only option where you get the freshest products. Shop your
              juicy and quality meat or fish is only with Freshoppe.
            </p>
          </div>
          <div class="col-md-4">
            <img src="@/assets/images/2.png" />
            <div class="h4">We say it, we mean it</div>
            <p>
              You have many options to shop for your daily needs of poultry and
              fish but how many of them guarantee you fresh products? Freshoppe
              is the only option where you get the freshest products. Shop your
              juicy and quality meat or fish is only with Freshoppe.
            </p>
          </div>
          <div class="col-md-4">
            <img src="@/assets/images/3.png" />
            <div class="h4">Hygienic & Special Package</div>
            <p>
              You have many options to shop for your daily needs of poultry and
              fish but how many of them guarantee you fresh products? Freshoppe
              is the only option where you get the freshest products. Shop your
              juicy and quality meat or fish is only with Freshoppe.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section-four pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>Shop by Category<span
                class="line-right"
              ></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Everything we have. Everything you need.
            </p>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Chicken</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Mutton</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Fish & Seafood</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Ready to Cook</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Ready to Eat</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Combos</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Cold Cuts</div>
            </a>
          </div>
          <div class="col-md-3">
            <a href="#">
              <div class="image-parent">
                <div
                  class="category"
                  :style="{ backgroundImage: `url(${backgroundUrl})` }"
                ></div>
              </div>
              <div class="h4 text-center">Eggs</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="section-five pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center heading-with-line">
              <span class="line-left"></span>New on the Blog<span
                class="line-right"
              ></span>
            </h2>
            <p class="sub-text text-center pb-5">
              Read your favorite recipes from Freshoppe
            </p>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <b-card>
                <img
                  src="@/assets/images/b1.jpg"
                  class="img-fluid full-width"
                />
                <div class="card-body-wrap">
                  <div class="card-title">
                    Interesting Facts About Chicken Eggs
                  </div>
                  <p>
                    Have you ever wondered how a hen can lay an egg every day?
                    Why some eggs are brown and some eggs are white? How many
                    days an egg takes to hatch?...
                  </p>
                </div>
              </b-card>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <b-card>
                <img
                  src="@/assets/images/b2.jpg"
                  class="img-fluid full-width"
                />
                <div class="card-body-wrap">
                  <div class="card-title">
                    How To Make A Simple, Authentic Ayala Curry
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, aliquip ex ea commodo
                    consequat...
                  </p>
                </div>
              </b-card>
            </div>
          </div>
          <div class="col-md-4">
            <div class="blog-card">
              <b-card>
                <img
                  src="@/assets/images/b3.jpg"
                  class="img-fluid full-width"
                />
                <div class="card-body-wrap">
                  <div class="card-title">
                    Seafood - An Ocean of Healthy Choices
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, aliquip ex ea commodo
                    consequat...
                  </p>
                </div>
              </b-card>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Banner from "@/components/Banner.vue";
import Carousal from "@/components/Carousal.vue";
import SingleCard from "@/components/SingleCard.vue";
import backgroundUrl from "../assets/images/s2.jpg";

export default {
  name: "Home",
  components: {
    HelloWorld,
    Banner,
    Carousal,
    SingleCard,
  },
  data() {
    return {
      backgroundUrl,
    };
  },
};
</script>
