<template>
  <section class="ordersummay top-spacing pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="order-delivery">
            <span class="mid-head">Order Delivery</span>
            <p class="pt-1">
              <img src="@/assets/images/food-delivery.png" /> Your package will
              be delivered within 90 mins of ordering
            </p>
          </div>
          <div class="order-status-wrapper mt-4">
            <div class="header">
              <span class="placed">
                Placed
              </span>
              <span class="order-placed">
                ORDER PLACED ON
                <span>3 March 2021, 4.20 PM</span>
              </span>
              <span class="order-id">
                ORDER ID
                <span>ORD218707595</span>
              </span>
              <span class="shippingadrs">
                SHIPPING ADDRESS
                <span>Username</span>
              </span>
              <span class="items">
                ITEMS
                <span>4</span>
              </span>
            </div>
            <div class="order-area-wrap pb-2">
              <div class="row">
                <div class="col-md-7">
                  <p>Your order is successfully placed</p>
                  <div class="order-status mt-4">
                    <div class="status">
                      <span class="active"></span>
                      Placed
                    </div>
                    <div class="status">
                      <span></span>
                      Packed
                    </div>
                    <div class="status">
                      <span></span>
                      On the way
                    </div>
                    <div class="status">
                      <span></span>
                      Delivered
                    </div>
                  </div>
                  <div class="delivered mt-4">
                    <p>
                      <img src="@/assets/images/food-delivery.png" /> Your
                      package will be delivered by <b>Today, before 4 PM</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="col-12 mb-3">
                    <a href="#" class="btn btn-fourth"
                      ><img src="@/assets/images/view.png" /> View Order</a
                    >
                  </div>
                  <div class="col-12 mb-3">
                    <a href="#" class="btn btn-fourth"
                      ><img src="@/assets/images/reload.png" /> Re-Order</a
                    >
                  </div>
                  <div class="col-12 mb-3">
                    <a href="#" class="btn btn-fourth"
                      ><img src="@/assets/images/error.png" /> Cancel Order</a
                    >
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <p class="mb-0 bottomadrs-section">
                    <a
                      class="btn btn-primary"
                      data-toggle="collapse"
                      href="#collapseExample"
                      role="button"
                      aria-expanded="false"
                      aria-controls="collapseExample"
                    >
                      View address & billing details
                      <img src="@/assets/images/downinner.png" />
                    </a>
                  </p>
                  <div class="collapse billing-adrs mt-3" id="collapseExample">
                    <div class="card-body">
                      <div class="row mb-4">
                        <div class="col-md-4">
                          <p>Delivery Address:</p>
                        </div>
                        <div class="col-md-8">
                          <p class="mb-0">
                            Noel Flats, Loren Ipsum Street Mysore, Street 4,
                            Loren Ipsum Karnataka, 560038
                          </p>
                        </div>
                      </div>
                      <hr />
                      <div class="row mb-4">
                        <div class="col-md-4">
                          <p>Payment:</p>
                        </div>
                        <div class="col-md-8">
                          <div class="total-amount-wrapper p-0">
                            <div class="row pb-1">
                              <div class="col-6">
                                Subtotal
                              </div>
                              <div class="col-6 text-right">
                                ₹1080
                              </div>
                            </div>
                            <div class="row pb-1">
                              <div class="col-6">
                                Delivery Charge
                              </div>
                              <div class="col-6 text-right green">
                                Free
                              </div>
                            </div>
                            <div class="row pb-1">
                              <div class="col-6">
                                Discount
                              </div>
                              <div class="col-6 text-right">
                                0
                              </div>
                            </div>
                            <hr />
                            <div class="row total-amount">
                              <div class="col-7">
                                Total Payable Amount
                                <span style="font-size:12px;font-weight:400;"
                                  >(Incl. of all taxes)</span
                                >
                              </div>
                              <div class="col-5 text-right">
                                ₹1080
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="row">
                        <div class="col-md-4">
                          <p class="mb-0">Payment Mode:</p>
                        </div>
                        <div class="col-md-8">
                          <b style="color:#1b1464;">
                            Cash on delivery
                          </b>
                        </div>
                      </div>
                      <hr />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="ads"></div>
        </div>
      </div>
    </div>
  </section>
</template>
