<template>
  <section class="about product-detailview top-spacing pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-4">
          <b-breadcrumb :items="items"></b-breadcrumb>
        </div>
        <div class="col-md-5">
          <div class="product-photo-wrap">
            <div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails">
              <a href="https://placeimg.com/526/316/animals">
                <img
                  src="https://placeimg.com/526/316/animals"
                  alt=""
                  width="100%"
                  height=""
                />
              </a>
            </div>
            <div class="starrating">
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star active" aria-hidden="true"></i>
              <i class="fa fa-star-half-o active" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <span class="ml-3">32 Votes</span>
            </div>
            <ul class="thumbnails">
              <li>
                <a
                  href="https://placeimg.com/526/316/animals"
                  data-standard="https://placeimg.com/526/316/animals"
                >
                  <img src="https://placeimg.com/526/316/animals" alt="" />
                </a>
              </li>
              <li>
                <a
                  href="https://placeimg.com/526/316/nature"
                  data-standard="https://placeimg.com/526/316/nature"
                >
                  <img src="https://placeimg.com/526/316/nature" alt="" />
                </a>
              </li>
              <li>
                <a
                  href="https://placeimg.com/526/316/any/sepia"
                  data-standard="https://placeimg.com/526/316/any/sepia"
                >
                  <img src="https://placeimg.com/526/316/any/sepia" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <h2>Chicken Drumstick</h2>
          <p>Product No: 120089</p>
          <div class="tab-wrapper">
            <b-card no-body style="margin-bottom:0px!important;">
              <b-tabs>
                <b-tab title="About Product">
                  <b-card-text>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                  </b-card-text>
                  <hr />
                  <div class="row">
                    <div class="col-md-4">
                      <p>
                        <img src="@/assets/images/chopping.png" class="mr-2" />
                        No of Pieces: 20-26
                      </p>
                    </div>
                    <div class="col-md-4">
                      <p>
                        <img src="@/assets/images/serves.png" class="mr-2" />
                        Serves: 6
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <p>
                        <img src="@/assets/images/chicken.png" class="mr-2" />
                        Gross wt: 1026gms
                      </p>
                    </div>
                    <div class="col-md-4">
                      <p>
                        <img src="@/assets/images/weig.png" class="mr-2" /> Net
                        wt: 1000gms
                      </p>
                    </div>
                    <div class="col-md-4">
                      <p>
                        <img src="@/assets/images/chi.png" class="mr-2" /> Whole
                        wt: 2 - 2.5kg
                      </p>
                    </div>
                  </div>
                  <hr />
                </b-tab>
                <b-tab title="What is in the box">
                  <b-card-text>
                    <ul>
                      <li>
                        Chicken humanely raised in restricted bio-security zones
                      </li>
                      <li>Hand selected after age and weight calibration</li>
                      <li>100% vegetarian feed</li>
                      <li>100% free of antibiotic residue and hormones</li>
                      <li>Hygienically vacuum-packed</li>
                      <li>Net weight of prepped meat only</li>
                      <li>Temperature controlled Between 4 °C -8 °C</li>
                    </ul>
                  </b-card-text>
                </b-tab>
              </b-tabs>
            </b-card>
            <div class="row price-detail-page">
              <hr />
              <div class="col-md-12">
                <div class="price">
                  ₹250
                </div>
                <div class="mrp">MRP: <span>₹350/-</span></div>
                <div class="off">
                  25% OFF
                </div>
                <a href="" class="btn btn-primary ml-auto">ADD TO CART</a>
              </div>
            </div>
            <hr />
            <div class="row share-wrapper">
              <div class="col-md-12">
                <a href="" class="btn btn-secondary mr-4"
                  ><img src="@/assets/images/heart.png" /> Add to Favourite</a
                >
                <div class="btn-group dropright share-icons">
                  <a
                    href=""
                    class="btn btn-secondary dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    ><img src="@/assets/images/share.png" /> Share
                  </a>
                  <div class="dropdown-menu">
                    <a href=""
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                    <a href=""
                      ><i class="fa fa-whatsapp" aria-hidden="true"></i>
                    </a>
                    <a href=""
                      ><i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href=""
                      ><i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <span class="delivery ml-auto">
                  <p>
                    <img src="@/assets/images/scooter.png" /> Delivery in
                    <b>90 min</b>
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="other-varients mt-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="h3">Other Variants</div>
            <a href="#">Chicken Mince - Large Pack</a>
            <a href="#">Chicken Curry Cut Large - Large Pack</a>
            <a href="#">Chicken Curry Cut (Small Pcs)</a>
            <a href="#">Chicken Chicken Curry Cut - With Skin (Small Pcs)</a>
            <a href="#">Chicken Chicken Curry Cut - With Skin (Small Pcs)</a>
            <a href="#">Chicken Curry Cut Large - Large Pack</a>
            <a href="#">Chicken Chicken Curry Cut - With Skin (Small Pcs)</a>
            <a href="#">Chicken Chicken Curry Cut - With Skin (Small Pcs)</a>
            <a href="#">Chicken Chicken Curry Cut - With Skin (Small Pcs)</a>
            <a href="#">Chicken Chicken Curry Cut - With Skin (Small Pcs)</a>
          </div>
        </div>
      </div>
    </div>
    <div class="recommended pt-3 pb-3 mt-3">
      <div class="container">
        <div class="tab-wrapper">
          <b-card no-body>
            <b-tabs>
              <b-tab title="Recommended Cooking Method">
                <div class="row">
                  <div class="col-md-7">
                    <b-card-title>(Southern) Fried Chicken</b-card-title>
                    <b-card-text>
                      <div class="row">
                        <div class="col-md-6">
                          <h4>Method</h4>
                          <ul>
                            <li>
                              1. Whisk the egg together with milk, some paprika
                              powder and seasoning.
                            </li>
                            <li>
                              2. Cut chicken into 6 parts using the skinless
                              thighs and drumstick only for this dish (3 pieces
                              per portion). Use breasts for other purposes.
                            </li>
                            <li>
                              3. Place the trimmed pieces in the mixture and let
                              them marinate for atleast 3 hours.
                            </li>
                            <li>
                              4. Mix the flour and corn flour with the milk
                              powder, drain the chicken pieces, season well with
                              paprika, salt and pepper and roll them in the
                              flour until well covered (slightly press the flour
                              onto the chicken).
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <h4>Ingredients</h4>
                          <ul>
                            <li>
                              454g chicken breasts, cut into large chunks
                            </li>
                            <li>
                              2 tbsp honey
                            </li>
                            <li>
                              3 tbsp gochujang (Korean chili paste)
                            </li>
                            <li>
                              1 tsp freshly grated ginger
                            </li>
                            <li>
                              2 garlic cloves, minced 1 tbsp vegetable oil
                            </li>
                            <li>1 tbsp vegetable oil</li>
                            <li>1 tbsp sesame seeds</li>
                            <li>2 green onions, finely chopped</li>
                          </ul>
                        </div>
                      </div>
                    </b-card-text>
                  </div>
                  <div class="col-md-5 right-image">
                    <img
                      src="@/assets/images/c.jpg"
                      class="curved-border img-fluid mb-3"
                    />
                    <p class=" mb-0">
                      <img src="@/assets/images/clock.png" /> Cooking time: 30
                      mins
                    </p>
                    <p class="float-right mb-0">
                      <a href="#" class="primary-link"
                        >View more recipees <img src="@/assets/images/right.png"
                      /></a>
                    </p>
                  </div>
                </div>
              </b-tab>
              <b-tab title="Sourcing">
                <b-card-text>
                  <div class="row">
                    <div class="col-md-7">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit
                        anim id est laborum.
                      </p>
                      <p>
                        Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                      <p>
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </p>
                    </div>
                    <div class="col-md-5">
                      <img
                        src="@/assets/images/hen.png"
                        class="curved-border img-fluid mb-3"
                      />
                    </div>
                  </div>
                </b-card-text>
              </b-tab>
            </b-tabs>
          </b-card>
        </div>
      </div>
    </div>
    <div class="related-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12 pb-3">
            <h2>Related Products</h2>
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
          <div class="col-md-3">
            <SingleCard />
          </div>
        </div>
      </div>
    </div>
    <div class="our-packing">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/no.png" />
              <h4>ANTIBIOTICS</h4>
              <p>
                All our meat is certified free from Antibiotics, Formalin and
                Preservatives.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/hormones.png" />
              <h4>HORMONES</h4>
              <p>
                Enjoy delicious food raised under the highest standards using no
                unnecessary Hormones.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/fresh.png" />
              <h4>Freshly Cut & Packed</h4>
              <p>
                All our meat is cut after you order to ensure maximum freshness.
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="image-with-text text-center">
              <img src="@/assets/images/fresh.png" />
              <h4>KNOWN & TASTE TESTED</h4>
              <p>
                We personally know each producer we work with and ensure you get
                meals full of mouth-watering flavor.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-section pt-5 pb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center heading-with-line">
              <span class="line-left"></span> You might also enjoy
              <span class="line-right"></span>
            </h1>
            <p class="sub-text text-center pb-4">
              Quality Fresh Meat And Poultry Direct To Your Home
            </p>
          </div>
          <div class="col-md-12">
            <Carousal />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue";
import Carousal from "@/components/Carousal.vue";
export default {
  components: {
    SingleCard,
    Carousal,
  },
  data() {
    return {
      items: [
        {
          text: "Home",
          to: "/",
        },
        {
          text: "Today's Deals",
          to: "/Todaydeals",
        },
        {
          text: "Chicken Drumstick",
          active: true,
        },
      ],
    };
  },
};
</script>
