<template>
  <section class="about top-spacing pt-4 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 pb-4">
          <b-breadcrumb :items="items"></b-breadcrumb>
        </div>
        <div class="col-md-12 pb-4">
          <h1>Today's Deals</h1>
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
        <div class="col-md-3">
          <SingleCard />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// @ is an alias to /src
import SingleCard from "@/components/SingleCard.vue";

export default {
  name: "Home",
  components: {
    SingleCard,
  },
  data() {
    return {
      items: [
        {
          text: "Home",
          to: "/",
        },
        {
          text: "Today's Deals",
          active: true,
        },
      ],
    };
  },
};
</script>
