<template>
  <section class="userprofile top-spacing pt-5 pb-5">
    <div class="container">
      <div class="row pb-2">
        <div class="col-md-12 newuser">
          <div class="avatar"></div>
          <div class="name-adrs">
            <h1>New User</h1>
            <p class="mb-0">9136945634</p>
            <p class="mb-0">newuser05@gmail.com</p>
          </div>
          <a
            href="#"
            class="btn btn-secondary"
            id="show-btn"
            @click="$bvModal.show('bv-modal-editprofile')"
            ><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
            Profile</a
          >
        </div>
        <Editprofile />
      </div>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <div
            class="nav flex-column nav-pills"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link active"
              id="v-pills-home-tab"
              data-toggle="pill"
              href="#v-pills-home"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              ><img src="@/assets/images/order.png" /> Order History</a
            >
            <a
              class="nav-link"
              id="v-pills-profile-tab"
              data-toggle="pill"
              href="#v-pills-profile"
              role="tab"
              aria-controls="v-pills-profile"
              aria-selected="false"
              ><img src="@/assets/images/adrs.png" /> My Addresses</a
            >
            <a
              class="nav-link"
              id="v-pills-messages-tab"
              data-toggle="pill"
              href="#v-pills-messages"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              ><img src="@/assets/images/saved.png" /> Saved Items</a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ><img src="@/assets/images/fav.png" /> Favourites</a
            >
            <a
              class="nav-link"
              id="v-pills-wallet-tab"
              data-toggle="pill"
              href="#v-pills-wallet"
              role="tab"
              aria-controls="v-pills-wallet"
              aria-selected="false"
              ><img src="@/assets/images/wallet.png" /> Wallet</a
            >
            <a
              class="nav-link"
              id="v-pills-invite-tab"
              data-toggle="pill"
              href="#v-pills-invite"
              role="tab"
              aria-controls="v-pills-invite"
              aria-selected="false"
              ><img src="@/assets/images/shr.png" /> Invite Friends</a
            >
            <a
              class="nav-link"
              id="v-pills-settings-tab"
              data-toggle="pill"
              href="#v-pills-settings"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              ><img src="@/assets/images/fav.png" /> Reviews</a
            >
          </div>
        </div>
        <div class="col-md-8">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <h2>Past Orders</h2>
              <div class="order-status-wrapper mt-4">
                <div class="header">
                  <span class="placed">
                    Placed
                  </span>
                  <span class="order-placed">
                    ORDER PLACED ON
                    <span>3 March 2021, 4.20 PM</span>
                  </span>
                  <span class="order-id">
                    ORDER ID
                    <span>ORD218707595</span>
                  </span>
                  <span class="shippingadrs">
                    SHIPPING ADDRESS
                    <span>Username</span>
                  </span>
                  <span class="items">
                    ITEMS
                    <span>4</span>
                  </span>
                </div>
                <div class="order-area-wrap pb-2">
                  <div class="row">
                    <div class="col-md-7">
                      <p>Your order is successfully placed</p>
                      <div class="order-status mt-4">
                        <div class="status">
                          <span class="active"></span>
                          Placed
                        </div>
                        <div class="status">
                          <span></span>
                          Packed
                        </div>
                        <div class="status">
                          <span></span>
                          On the way
                        </div>
                        <div class="status">
                          <span></span>
                          Delivered
                        </div>
                      </div>
                      <div class="delivered mt-4">
                        <p style="font-size:12px;">
                          <img src="@/assets/images/food-delivery.png" /> Your
                          package will be delivered by Today, before 4 PM
                        </p>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <b class="d-block text-right">₹1080.78</b>
                    </div>
                    <div class="col-md-12 mt-4">
                      <div class="row">
                        <div class="col-3 pr-0">
                          <a
                            href="#"
                            class="btn btn-fourth"
                            id="show-btn2"
                            @click="$bvModal.show('bv-modal-vieworder')"
                            ><img src="@/assets/images/view.png" /> View
                            Order</a
                          >
                          <Vieworder />
                        </div>
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth"
                            ><img src="@/assets/images/reload.png" />
                            Re-Order</a
                          >
                        </div>
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth"
                            ><img src="@/assets/images/error.png" /> Cancel
                            Order</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <p class="mb-0 bottomadrs-section">
                        <a
                          class="btn btn-primary"
                          data-toggle="collapse"
                          href="#collapseExample"
                          role="button"
                          aria-expanded="false"
                          aria-controls="collapseExample"
                        >
                          View address & billing details
                          <img src="@/assets/images/downinner.png" />
                        </a>
                      </p>
                      <div
                        class="collapse billing-adrs mt-3"
                        id="collapseExample"
                      >
                        <div class="card-body">
                          <div class="row mb-4">
                            <div class="col-md-4">
                              <p>Delivery Address:</p>
                            </div>
                            <div class="col-md-8">
                              <p class="mb-0">
                                Noel Flats, Loren Ipsum Street Mysore, Street 4,
                                Loren Ipsum Karnataka, 560038
                              </p>
                            </div>
                          </div>
                          <hr />
                          <div class="row mb-4">
                            <div class="col-md-4">
                              <p>Payment:</p>
                            </div>
                            <div class="col-md-8">
                              <div class="total-amount-wrapper p-0">
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Subtotal
                                  </div>
                                  <div class="col-6 text-right">
                                    ₹1080
                                  </div>
                                </div>
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Delivery Charge
                                  </div>
                                  <div class="col-6 text-right green">
                                    Free
                                  </div>
                                </div>
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Discount
                                  </div>
                                  <div class="col-6 text-right">
                                    0
                                  </div>
                                </div>
                                <hr />
                                <div class="row total-amount">
                                  <div class="col-7">
                                    Total Payable Amount
                                    <span
                                      style="font-size:12px;font-weight:400;"
                                      >(Incl. of all taxes)</span
                                    >
                                  </div>
                                  <div class="col-5 text-right">
                                    ₹1080
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-md-4">
                              <p class="mb-0">Payment Mode:</p>
                            </div>
                            <div class="col-md-8">
                              <b style="color:#1b1464;">
                                Cash on delivery
                              </b>
                            </div>
                          </div>
                          <hr />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-status-wrapper mt-4">
                <div class="header">
                  <span class="placed">
                    Placed
                  </span>
                  <span class="order-placed">
                    ORDER PLACED ON
                    <span>3 March 2021, 4.20 PM</span>
                  </span>
                  <span class="order-id">
                    ORDER ID
                    <span>ORD218707595</span>
                  </span>
                  <span class="shippingadrs">
                    SHIPPING ADDRESS
                    <span>Username</span>
                  </span>
                  <span class="items">
                    ITEMS
                    <span>4</span>
                  </span>
                </div>
                <div class="order-area-wrap pb-2">
                  <div class="row">
                    <div class="col-md-7">
                      <p>Your order is successfully placed</p>
                      <div class="order-status mt-4">
                        <div class="status">
                          <span class="active"></span>
                          Placed
                        </div>
                        <div class="status">
                          <span></span>
                          Packed
                        </div>
                        <div class="status">
                          <span></span>
                          On the way
                        </div>
                        <div class="status">
                          <span></span>
                          Delivered
                        </div>
                      </div>
                      <div class="delivered mt-4">
                        <p style="font-size:12px;">
                          <img src="@/assets/images/food-delivery.png" /> Your
                          package will be delivered by Today, before 4 PM
                        </p>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <b class="d-block text-right">₹1080.78</b>
                    </div>
                    <div class="col-md-12 mt-4">
                      <div class="row">
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth">
                            <img src="@/assets/images/view.png" /> View Order</a
                          >
                        </div>
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth"
                            ><img src="@/assets/images/reload.png" />
                            Re-Order</a
                          >
                        </div>
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth"
                            ><img src="@/assets/images/error.png" /> Cancel
                            Order</a
                          >
                        </div>
                        <div class="col-3 pr-0">
                          <a
                            href="javascript:void(0)"
                            class="btn btn-fourth"
                            id="show-btn"
                            @click="$bvModal.show('bv-modal-addfeedback')"
                            ><img src="@/assets/images/star.png" /> Add
                            Feedback</a
                          >
                          <Addfeedback />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <p class="mb-0 bottomadrs-section">
                        <a
                          class="btn btn-primary"
                          data-toggle="collapse"
                          href="#collapseExample"
                          role="button"
                          aria-expanded="false"
                          aria-controls="collapseExample"
                        >
                          View address & billing details
                          <img src="@/assets/images/downinner.png" />
                        </a>
                      </p>
                      <div
                        class="collapse billing-adrs mt-3"
                        id="collapseExample"
                      >
                        <div class="card-body">
                          <div class="row mb-4">
                            <div class="col-md-4">
                              <p>Delivery Address:</p>
                            </div>
                            <div class="col-md-8">
                              <p class="mb-0">
                                Noel Flats, Loren Ipsum Street Mysore, Street 4,
                                Loren Ipsum Karnataka, 560038
                              </p>
                            </div>
                          </div>
                          <hr />
                          <div class="row mb-4">
                            <div class="col-md-4">
                              <p>Payment:</p>
                            </div>
                            <div class="col-md-8">
                              <div class="total-amount-wrapper p-0">
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Subtotal
                                  </div>
                                  <div class="col-6 text-right">
                                    ₹1080
                                  </div>
                                </div>
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Delivery Charge
                                  </div>
                                  <div class="col-6 text-right green">
                                    Free
                                  </div>
                                </div>
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Discount
                                  </div>
                                  <div class="col-6 text-right">
                                    0
                                  </div>
                                </div>
                                <hr />
                                <div class="row total-amount">
                                  <div class="col-7">
                                    Total Payable Amount
                                    <span
                                      style="font-size:12px;font-weight:400;"
                                      >(Incl. of all taxes)</span
                                    >
                                  </div>
                                  <div class="col-5 text-right">
                                    ₹1080
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-md-4">
                              <p class="mb-0">Payment Mode:</p>
                            </div>
                            <div class="col-md-8">
                              <b style="color:#1b1464;">
                                Cash on delivery
                              </b>
                            </div>
                          </div>
                          <hr />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="order-status-wrapper mt-4">
                <div class="header">
                  <span class="cancelled">
                    Placed
                  </span>
                  <span class="order-placed">
                    ORDER PLACED ON
                    <span>3 March 2021, 4.20 PM</span>
                  </span>
                  <span class="order-id">
                    ORDER ID
                    <span>ORD218707595</span>
                  </span>
                  <span class="shippingadrs">
                    SHIPPING ADDRESS
                    <span>Username</span>
                  </span>
                  <span class="items">
                    ITEMS
                    <span>4</span>
                  </span>
                </div>
                <div class="order-area-wrap pb-2">
                  <div class="row">
                    <div class="col-md-7">
                      <p class="mb-0">Your order is successfully cancelled</p>
                    </div>
                    <div class="col-md-5">
                      <b class="d-block text-right">₹1080.78</b>
                    </div>
                    <div class="col-md-12 mt-4">
                      <div class="row">
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth">
                            <img src="@/assets/images/view.png" /> View Order</a
                          >
                        </div>
                        <div class="col-3 pr-0">
                          <a href="#" class="btn btn-fourth"
                            ><img src="@/assets/images/reload.png" />
                            Re-Order</a
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <p class="mb-0 bottomadrs-section">
                        <a
                          class="btn btn-primary"
                          data-toggle="collapse"
                          href="#collapseExample"
                          role="button"
                          aria-expanded="false"
                          aria-controls="collapseExample"
                        >
                          View address & billing details
                          <img src="@/assets/images/downinner.png" />
                        </a>
                      </p>
                      <div
                        class="collapse billing-adrs mt-3"
                        id="collapseExample"
                      >
                        <div class="card-body">
                          <div class="row mb-4">
                            <div class="col-md-4">
                              <p>Delivery Address:</p>
                            </div>
                            <div class="col-md-8">
                              <p class="mb-0">
                                Noel Flats, Loren Ipsum Street Mysore, Street 4,
                                Loren Ipsum Karnataka, 560038
                              </p>
                            </div>
                          </div>
                          <hr />
                          <div class="row mb-4">
                            <div class="col-md-4">
                              <p>Payment:</p>
                            </div>
                            <div class="col-md-8">
                              <div class="total-amount-wrapper p-0">
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Subtotal
                                  </div>
                                  <div class="col-6 text-right">
                                    ₹1080
                                  </div>
                                </div>
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Delivery Charge
                                  </div>
                                  <div class="col-6 text-right green">
                                    Free
                                  </div>
                                </div>
                                <div class="row pb-1">
                                  <div class="col-6">
                                    Discount
                                  </div>
                                  <div class="col-6 text-right">
                                    0
                                  </div>
                                </div>
                                <hr />
                                <div class="row total-amount">
                                  <div class="col-7">
                                    Total Payable Amount
                                    <span
                                      style="font-size:12px;font-weight:400;"
                                      >(Incl. of all taxes)</span
                                    >
                                  </div>
                                  <div class="col-5 text-right">
                                    ₹1080
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr />
                          <div class="row">
                            <div class="col-md-4">
                              <p class="mb-0">Payment Mode:</p>
                            </div>
                            <div class="col-md-8">
                              <b style="color:#1b1464;">
                                Cash on delivery
                              </b>
                            </div>
                          </div>
                          <hr />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
            >
              <div class="profile-adrs">
                <div class="row">
                  <div class="col-md-12 mb-3">
                    <a href="" class="btn btn-secondary"
                      ><i aria-hidden="true" class="fa fa-plus"></i> Add
                      Address</a
                    >
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="address-single selected">
                      <h6>
                        Home:
                        <a href="#" class="primary-link edit">Delete</a>
                        <a href="#" class="primary-link edit mr-3">Edit</a>
                      </h6>
                      <p class="mb-0">
                        Noel Flats, Loren Ipsum Street Mysore, Street 4, Loren
                        Ipsum<br />
                        Karnataka, 560038
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="address-single selected">
                      <h6>
                        Home:
                        <a href="#" class="primary-link edit">Delete</a>
                        <a href="#" class="primary-link edit mr-3">Edit</a>
                      </h6>
                      <p class="mb-0">
                        Noel Flats, Loren Ipsum Street Mysore, Street 4, Loren
                        Ipsum<br />
                        Karnataka, 560038
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="address-single selected">
                      <h6>
                        Office:
                        <a href="#" class="primary-link edit">Delete</a>
                        <a href="#" class="primary-link edit mr-3">Edit</a>
                      </h6>
                      <p class="mb-0">
                        Noel Flats, Loren Ipsum Street Mysore, Street 4, Loren
                        Ipsum<br />
                        Karnataka, 560038
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
            >
              <h2 class="mb-3">Saved Items (4)</h2>
              <div class="saved-items">
                <div class="row">
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-settings"
              role="tabpanel"
              aria-labelledby="v-pills-settings-tab"
            >
              <h2 class="mb-3">Favourites (4)</h2>
              <div class="saved-items">
                <div class="row">
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                  <div class="col-md-6">
                    <SingleCard />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-wallet"
              role="tabpanel"
              aria-labelledby="v-pills-wallet-tab"
            >
              <h2 class="mb-3">Wallet</h2>
              <div class="saved-items p-4">
                <div class="row">
                  <div class="col-lg-6 m-auto">
                    <div class="wallet-balance">
                      <h3>Your wallet balance</h3>
                      <div class="wallet-value">₹0</div>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-5">
                    <h4>Transaction History</h4>
                  </div>
                  <div class="col-lg-12 mt-2">
                    <div class="no-transaction">
                      <img src="@/assets/images/walletno.png" class="mb-2" />
                      <p>No transactions found</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="v-pills-invite"
              role="tabpanel"
              aria-labelledby="v-pills-invite-tab"
            >
              <h2 class="mb-3">Invite Friends</h2>
              <div class="saved-items p-5">
                <div class="row">
                  <div class="col-lg-12 m-auto">
                    <h3 class="mb-3">
                      Invite friends & earn ₹ 50 freshoppe points for each
                      successful referral.
                    </h3>
                  </div>
                  <div class="col-md-9 m-auto">
                    <div class="reffereal-code">
                      <span>Referral Code:</span>
                      <span class="bold">GARXFINIP</span>
                      <span class="d-flex">
                        <a href="#" style="margin-right:15px"
                          ><img src="@/assets/images/shr.png"
                        /></a>
                        <a href="#"><img src="@/assets/images/cpy.png"/></a>
                      </span>
                    </div>
                  </div>
                  <div class="col-lg-12 mt-2">
                    <div class="no-transaction">
                      <img
                        src="@/assets/images/invite.png"
                        class="d-block m-auto"
                      />
                      <p class="mt-4">
                        Invite your friend to try freshoppe and the two of you
                        get a special bonus.
                      </p>
                      <p>
                        <b>INR 200 gets credited to your freshoppe wallet</b> on
                        the usage of your referral code.
                        <b>Your friend gets a 10%* discount</b> on their first
                        Health check. Go ahead, share the love.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import SingleCard from "@/components/SingleCard.vue";
import Editprofile from "@/components/Editprofile.vue";
import Vieworder from "@/components/Vieworder.vue";
import Addfeedback from "@/components/Addfeedback.vue";

export default {
  name: "Home",
  components: {
    SingleCard,
    Editprofile,
    Vieworder,
    Addfeedback,
  },
  data() {
    return {
      backgroundUrl,
    };
  },
};
</script>
