<template>
  <div class="add-feedback">
    <b-modal id="bv-modal-addfeedback" hide-footer>
      <template #modal-title> Add Feedback </template>
      <div class="d-block">
        <form>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <div class="address-single selected">
                <p class="mb-0">
                  Rate your experience with us
                </p>
                <div class="ratings mt-3">
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star active" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <span class="green">Good</span>
                </div>
                <textarea
                  class="form-control mt-3"
                  id="exampleFormControlTextarea1"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>
          <b-button
            class="mt-3 btn-primary"
            block
            @click="$bvModal.hide('bv-modal-address')"
            >Submit</b-button
          >
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Addfeedback",
  props: {
    msg: String,
  },
};
</script>
