<template>
  <div class="add-address">
    <b-modal id="bv-modal-address" hide-footer>
      <template #modal-title> Add new address </template>
      <div class="d-block">
        <form>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h5>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                Set your delivery area
              </h5>
            </div>
            <div class="form-group col-md-6">
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Enter your delivery area"
              />
            </div>
            <div class="form-group col-md-6">
              <a href="#">
                <span class="detect-location">
                  <img src="@/assets/images/gps.png" /> Detect current location
                </span>
              </a>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <h5>
                <i class="fa fa-home" aria-hidden="true"></i> Delivery Address
              </h5>
            </div>
            <div class="form-group col-md-6">
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Name"
              />
            </div>
            <div class="form-group col-md-6">
              <input
                type="password"
                class="form-control"
                id="inputPassword4"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputAddress"
              placeholder="House/Flat no"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputAddress2"
              placeholder="Area"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="inputAddress2"
              placeholder="Landmark"
            />
          </div>
          <div
            class="btn-group btn-group-toggle home-ofc-oth"
            data-toggle="buttons"
          >
            <label class="btn btn-secondary active">
              <input
                type="radio"
                name="options"
                id="option1"
                autocomplete="off"
                checked
              />
              <i class="fa fa-home" aria-hidden="true"></i> Home
            </label>
            <label class="btn btn-secondary">
              <input
                type="radio"
                name="options"
                id="option2"
                autocomplete="off"
              />
              <i class="fa fa-briefcase" aria-hidden="true"></i> Office
            </label>
            <label class="btn btn-secondary">
              <input
                type="radio"
                name="options"
                id="option3"
                autocomplete="off"
              />
              <i class="fa fa-map-marker" aria-hidden="true"></i> Other
            </label>
          </div>

          <b-button
            class="mt-5 btn-primary"
            block
            @click="$bvModal.hide('bv-modal-address')"
            >Save & Continue</b-button
          >
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Addnewaddress",
  props: {
    msg: String,
  },
};
</script>
