<template>
  <div class="banner">
    <VueSlickCarousel :arrows="false" :dots="true">
      <div
        class="banner-area bg-no-repeat bg-cover  bg-white hero relative"
        :style="{ backgroundImage: `url(${backgroundUrl})` }"
      ></div>
      <div
        class="banner-area bg-no-repeat bg-cover  bg-white hero relative"
        :style="{ backgroundImage: `url(${backgroundUrl})` }"
      ></div>
      <div
        class="banner-area bg-no-repeat bg-cover  bg-white hero relative"
        :style="{ backgroundImage: `url(${backgroundUrl})` }"
      ></div>
    </VueSlickCarousel>
  </div>
</template>

<script>
import backgroundUrl from "../assets/images/Banner2.jpg";

import VueSlickCarousel from "vue-slick-carousel";

export default {
  name: "MyComponent",
  components: { VueSlickCarousel },

  name: "Banner",
  props: {
    msg: String,
  },
  data() {
    return {
      backgroundUrl,
    };
  },
};
</script>
