<template>
  <VueSlickCarousel v-bind="settings" :arrows="true" :dots="false">
    <div class="slide-wrap">
      <a href="productdetail">
        <b-card>
          <img src="@/assets/images/1.jpg" class="img-fluid full-width" />
          <div class="card-body-wrap">
            <div class="card-title">
              Chicken Drumstick
            </div>
            <p class="pr-no">Product No: 120089</p>
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>
            <div class="net-gross">
              <div class="net-wt">
                Net wt: 500gms
              </div>
              <div class="gross-wt">
                Gross wt: 700gms
              </div>
            </div>
            <div class="price-btn">
              <span class="price">₹239</span>
              <span class="mrp">MRP: <span class="brake">₹350</span></span>
              <span class="off">25% OFF</span>
              <b-button href="#" variant="primary" class="ml-auto"
                >Add to cart</b-button
              >
            </div>
            <div class="delivery text-center">
              <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
              90 min
            </div>
          </div>
        </b-card>
      </a>
    </div>
    <div class="slide-wrap">
      <a href="productdetail">
        <b-card>
          <img src="@/assets/images/2.jpg" class="img-fluid full-width" />
          <div class="card-body-wrap">
            <div class="card-title">
              Chicken Drumstick
            </div>
            <p class="pr-no">Product No: 120089</p>
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>
            <div class="net-gross">
              <div class="net-wt">
                Net wt: 500gms
              </div>
              <div class="gross-wt">
                Gross wt: 700gms
              </div>
            </div>
            <div class="price-btn">
              <span class="price">₹239</span>
              <span class="mrp">MRP: <span class="brake">₹350</span></span>
              <span class="off">25% OFF</span>
              <b-button href="#" variant="primary" class="ml-auto"
                >Add to cart</b-button
              >
            </div>
            <div class="delivery text-center">
              <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
              90 min
            </div>
          </div>
        </b-card>
      </a>
    </div>
    <div class="slide-wrap">
      <a href="productdetail">
        <b-card>
          <img src="@/assets/images/3.jpg" class="img-fluid full-width" />
          <div class="card-body-wrap">
            <div class="card-title">
              Chicken Drumstick
            </div>
            <p class="pr-no">Product No: 120089</p>
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>
            <div class="net-gross">
              <div class="net-wt">
                Net wt: 500gms
              </div>
              <div class="gross-wt">
                Gross wt: 700gms
              </div>
            </div>
            <div class="price-btn">
              <span class="price">₹239</span>
              <span class="mrp">MRP: <span class="brake">₹350</span></span>
              <span class="off">25% OFF</span>
              <b-button href="#" variant="primary" class="ml-auto"
                >Add to cart</b-button
              >
            </div>
            <div class="delivery text-center">
              <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
              90 min
            </div>
          </div>
        </b-card>
      </a>
    </div>
    <div class="slide-wrap">
      <a href="productdetail">
        <b-card>
          <img src="@/assets/images/1.jpg" class="img-fluid full-width" />
          <div class="card-body-wrap">
            <div class="card-title">
              Chicken Drumstick
            </div>
            <p class="pr-no">Product No: 120089</p>
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>
            <div class="net-gross">
              <div class="net-wt">
                Net wt: 500gms
              </div>
              <div class="gross-wt">
                Gross wt: 700gms
              </div>
            </div>
            <div class="price-btn">
              <span class="price">₹239</span>
              <span class="mrp">MRP: <span class="brake">₹350</span></span>
              <span class="off">25% OFF</span>
              <b-button href="#" variant="primary" class="ml-auto"
                >Add to cart</b-button
              >
            </div>
            <div class="delivery text-center">
              <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
              90 min
            </div>
          </div>
        </b-card>
      </a>
    </div>
    <div class="slide-wrap">
      <a href="productdetail">
        <b-card>
          <img src="@/assets/images/2.jpg" class="img-fluid full-width" />
          <div class="card-body-wrap">
            <div class="card-title">
              Chicken Drumstick
            </div>
            <p class="pr-no">Product No: 120089</p>
            <b-card-text>
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </b-card-text>
            <div class="net-gross">
              <div class="net-wt">
                Net wt: 500gms
              </div>
              <div class="gross-wt">
                Gross wt: 700gms
              </div>
            </div>
            <div class="price-btn">
              <span class="price">₹239</span>
              <span class="mrp">MRP: <span class="brake">₹350</span></span>
              <span class="off">25% OFF</span>
              <b-button href="#" variant="primary" class="ml-auto"
                >Add to cart</b-button
              >
            </div>
            <div class="delivery text-center">
              <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
              90 min
            </div>
          </div>
        </b-card>
      </a>
    </div>
  </VueSlickCarousel>
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";

export default {
  data: () => ({
    settings: {
      dots: false,
      focusOnSelect: true,
      infinite: true,
      speed: 500,
      slidesToShow: 3,
      slidesToScroll: 3,
      touchThreshold: 5,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            arrows: false,
          },
        },
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            arrows: false,
          },
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
          },
        },

        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ],
    },
  }),
  components: {
    VueSlickCarousel,
  },
};
</script>
