<template>
	<div class="container">
		<b-navbar toggleable="lg" type="dark">
			<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
			<b-collapse id="nav-collapse" is-nav>
				<b-navbar-nav>
					
					<b-nav-item v-for="(category,index) in categories" :key="index" :to="{ name: 'category.view', params: {slug: category.slug,name: category.name} }" >
						<img :src="'http://127.0.0.1:8000/uploads/'+category.icon" />
						{{category.name}}
					</b-nav-item>
					<!-- <b-nav-item to="/todaydeals"
					  ><img src="@/assets/images/today-deal.svg" />Today's
					  Deals</b-nav-item
					>
					<b-nav-item to="/about"
					  ><img src="@/assets/images/chicken.svg" /> Chicken</b-nav-item
					>
					<b-nav-item to=""
					  ><img src="@/assets/images/mutton.svg" /> Mutton</b-nav-item
					>
					<b-nav-item to=""
					  ><img src="@/assets/images/fish.svg" /> Fish &
					  Seafood</b-nav-item
					>
					<b-nav-item to=""
					  ><img src="@/assets/images/ready-to-cook.svg" /> Ready to
					  Cook</b-nav-item
					>
					<b-nav-item to=""
					  ><img src="@/assets/images/cold-cuts.svg" /> Cold
					  Cuts</b-nav-item
					>
					<b-nav-item to=""
					  ><img src="@/assets/images/ready-to-eat.svg" /> Ready to
					  Eat</b-nav-item
					>
					<b-nav-item to=""
					  ><img src="@/assets/images/eggs.svg" /> Ready to
					  Eggs</b-nav-item
					> -->
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
	</div>
</template>

<script>
export default {
  name: "Categories",
  data() {
		return {
			categories:[]
		};
	},
	watch: {
		$route(to, from) {
		}
	},
	mounted () {
		
		axios.get('/categories')
		.then(response => {
			this.categories = response.data.categories
		})
		.catch(function (error) {
			console.log(error);
		});
	}
};
</script>
