<template>
  <div class="chooseaddress">
    <b-modal id="bv-modal-address-change" hide-footer>
      <template #modal-title> Choose Address </template>
      <div class="d-block">
        <form>
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <a href="" class="btn btn-secondary"
                ><i class="fa fa-plus" aria-hidden="true"></i> Add Address</a
              >
            </div>
            <div class="col-md-12 mb-3">
              <div class="address-single selected">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h6>Home: <a href="#" class="primary-link edit">Edit</a></h6>
                <p class="mb-0">
                  Noel Flats, Loren Ipsum Street Mysore, Street 4, Loren Ipsum
                  Karnataka, 560038
                </p>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="address-single">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h6>Home: <a href="#" class="primary-link edit">Edit</a></h6>
                <p class="mb-0">
                  Noel Flats, Loren Ipsum Street Mysore, Street 4, Loren Ipsum
                  Karnataka, 560038
                </p>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <div class="address-single">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h6>Office: <a href="#" class="primary-link edit">Edit</a></h6>
                <p class="mb-0">
                  Noel Flats, Loren Ipsum Street Mysore, Street 4, Loren Ipsum
                  Karnataka, 560038
                </p>
              </div>
            </div>
          </div>

          <b-button
            class="mt-3 btn-primary"
            block
            @click="$bvModal.hide('bv-modal-address')"
            >Deliver Here</b-button
          >
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Chooseaddress",
  props: {
    msg: String,
  },
};
</script>
