<template>
  <div>
    <b-modal id="bv-modal-editprofile" hide-footer>
      <template #modal-title> Edit Profile </template>
      <div class="d-block text-center">
        <form>
          <div class="form-row">
            <div class="col-6 mb-3">
              <input type="text" class="form-control" placeholder="User Name" />
            </div>
            <div class="col-6 mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="username@gmail.com"
              />
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Phone number"
              />
            </div>
          </div>
          <div class="form-row phnno">
            <div class="col-md-12 text-left">
              <p class="mb-0"><b>Phone Number Verification</b></p>
              <p>Enter the OTP send to 9847546825</p>
            </div>
            <div class="col-8 mb-3">
              <input type="text" class="form-control" placeholder="Enter OTP" />
            </div>
            <div class="col-4 mb-3">
              <a href="#" class="btn btn-primary">Confirm</a>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="width:100%;">
                Save Changes
              </button>
            </div>
          </div>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Editprofile",
  props: {
    msg: String,
  },
};
</script>
