<template>
  <div>
    <b-modal id="bv-modal-mycart" hide-footer>
      <template #modal-title> My Cart </template>
      <div class="d-block text-center">
        <div class="cart-product-wrap">
          <div class="row pb-1">
            <div class="col-8 head">
              <span class="count-no">1</span>Chicken Drumstick
            </div>
            <div class="col-4 input-counter">
              <div role="group" class="input-group">
                <!---->
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-info">-</button>
                </div>
                <span class="cart-quantity">3</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">
                    +
                  </button>
                </div>
                <!---->
              </div>
            </div>
            <div class="col-12 wg">
              <p>Net wt: 500gms</p>
              <p>Gross wt: 700gms</p>
            </div>
            <div class="col-12 price-remove">
              <div class="row">
                <div class="col-7">
                  <ul>
                    <li>
                      <a href="#">Remove</a>
                    </li>
                    <li>
                      <a href="#">Save for later</a>
                    </li>
                  </ul>
                </div>
                <div class="col-5 total-amount">
                  <p><b>₹250.53</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin:0px;" />
        <div class="cart-product-wrap">
          <div class="row pb-1">
            <div class="col-8 head">
              <span class="count-no">2</span>Chicken Drumstick
            </div>
            <div class="col-4 input-counter">
              <div role="group" class="input-group">
                <!---->
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-info">-</button>
                </div>
                <span class="cart-quantity">3</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">
                    +
                  </button>
                </div>
                <!---->
              </div>
            </div>
            <div class="col-12 wg">
              <p>Net wt: 500gms</p>
              <p>Gross wt: 700gms</p>
            </div>
            <div class="col-12 price-remove">
              <div class="row">
                <div class="col-7">
                  <ul>
                    <li>
                      <a href="#">Remove</a>
                    </li>
                    <li>
                      <a href="#">Save for later</a>
                    </li>
                  </ul>
                </div>
                <div class="col-5 total-amount">
                  <p><b>₹250.53</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin:0px;" />
        <div class="cart-product-wrap">
          <div class="row pb-1">
            <div class="col-8 head">
              <span class="count-no">3</span>Chicken Drumstick
            </div>
            <div class="col-4 input-counter">
              <div role="group" class="input-group">
                <!---->
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-info">-</button>
                </div>
                <span class="cart-quantity">3</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">
                    +
                  </button>
                </div>
                <!---->
              </div>
            </div>
            <div class="col-12 wg">
              <p>Net wt: 500gms</p>
              <p>Gross wt: 700gms</p>
            </div>
            <div class="col-12 price-remove">
              <div class="row">
                <div class="col-7">
                  <ul>
                    <li>
                      <a href="#">Remove</a>
                    </li>
                    <li>
                      <a href="#">Save for later</a>
                    </li>
                  </ul>
                </div>
                <div class="col-5 total-amount">
                  <p><b>₹250.53</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin:0px;" />
        <div class="cart-product-wrap">
          <div class="row pb-1">
            <div class="col-8 head">
              <span class="count-no">4</span>Chicken Drumstick
            </div>
            <div class="col-4 input-counter">
              <div role="group" class="input-group">
                <!---->
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-info">-</button>
                </div>
                <span class="cart-quantity">3</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">
                    +
                  </button>
                </div>
                <!---->
              </div>
            </div>
            <div class="col-12 wg">
              <p>Net wt: 500gms</p>
              <p>Gross wt: 700gms</p>
            </div>
            <div class="col-12 price-remove">
              <div class="row">
                <div class="col-7">
                  <ul>
                    <li>
                      <a href="#">Remove</a>
                    </li>
                    <li>
                      <a href="#">Save for later</a>
                    </li>
                  </ul>
                </div>
                <div class="col-5 total-amount">
                  <p><b>₹250.53</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="margin:0px;" />
        <div class="cart-product-wrap">
          <div class="row pb-1">
            <div class="col-8 head">
              <span class="count-no">5</span>Chicken Drumstick
            </div>
            <div class="col-4 input-counter">
              <div role="group" class="input-group">
                <!---->
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-outline-info">-</button>
                </div>
                <span class="cart-quantity">3</span>
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">
                    +
                  </button>
                </div>
                <!---->
              </div>
            </div>
            <div class="col-12 wg">
              <p>Net wt: 500gms</p>
              <p>Gross wt: 700gms</p>
            </div>
            <div class="col-12 price-remove">
              <div class="row">
                <div class="col-7">
                  <ul>
                    <li>
                      <a href="#">Remove</a>
                    </li>
                    <li>
                      <a href="#">Save for later</a>
                    </li>
                  </ul>
                </div>
                <div class="col-5 total-amount">
                  <p><b>₹250.53</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom-wrap">
          <a href="/cart" class="btn btn-third"
            >Proceed to checkout <span>₹1080.78</span></a
          >
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Mycart",
  props: {
    msg: String,
  },
};
</script>
