<template>
  <div>
    <b-modal id="bv-modal-promocode" hide-footer>
      <template #modal-title
        ><img src="@/assets/images/discount.png" class="img-fluid" /> Apply
        promo code
      </template>
      <div class="d-block">
        <p>Have a promo code/referal code?</p>
        <form class="form-inline">
          <div class="form-group">
            <label for="entercode" class="sr-only">Password</label>
            <input
              type="text"
              class="form-control"
              id="entercode"
              placeholder="Enter Code"
            />
          </div>
          <button type="submit" class="btn btn-primary">
            Confirm identity
          </button>
        </form>
        <ul>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.
          </li>
        </ul>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Promocodeoffers",
  props: {
    msg: String,
  },
};
</script>
