<template>
  <div class="single-card">
    <a href="productdetail">
      <b-card>
        <img src="@/assets/images/2.jpg" class="img-fluid full-width" />
        <div class="card-body-wrap">
          <span class="favourites">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </span>
          <span class="saved-item">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </span>
          <div class="card-title">
            Chicken Drumstick
          </div>
          <p class="pr-no">Product No: 120089</p>
          <div class="net-gross">
            <div class="net-wt">
              Net wt: 500gms
            </div>
            <div class="gross-wt">
              Gross wt: 700gms
            </div>
          </div>
          <div class="price-btn">
            <span class="price">₹239</span>
            <span class="mrp">MRP: <span class="brake">₹350</span></span>
            <b-button href="#" variant="primary" class="ml-auto"
              >Add to cart</b-button
            >
          </div>
          <div class="delivery text-center">
            <span><img src="@/assets/images/scooter.png" /> Delivery in</span>
            90 min
            <!--<a
              href="#"
              class="primary-link"
              style="text-align:right;display:block;font-size:14px;font-weight:400;"
              >Delete</a
            >-->
          </div>
        </div>
      </b-card>
    </a>
  </div>
</template>

<script>
export default {
  name: "SingleCard",
  props: {
    msg: String,
  },
};
</script>
