<template>
  <div>
    <b-modal id="bv-modal-vieworder" hide-footer>
      <template #modal-title>
        <span class="product">Product</span>
        <span class="Quantity">Quantity</span>
        <span class="Price">Price</span>
      </template>
      <div class="d-block">
        <div class="order-wrap">
          <div class="product-one">
            <span class="count-no">1</span>
            <h5>Chicken Drumstick</h5>
            <span href="#">Net wt: 500gms</span>
            <span href="#">Gross wt: 700gms</span>
          </div>
          <div class="quantity-pr">
            2
          </div>
          <div class="price">
            <span>₹350.25</span>
            ₹250.53
          </div>
        </div>
        <hr />
        <div class="order-wrap">
          <div class="product-one">
            <span class="count-no">2</span>
            <h5>
              Freshwater Prawns 50 Count/Kg (Jhinga/ Seegadi) - Cleaned &
              Deveined, No Tail
            </h5>
            <span href="#">Net wt: 500gms</span>
            <span href="#">Gross wt: 700gms</span>
          </div>
          <div class="quantity-pr">
            2
          </div>
          <div class="price">
            <span>₹350.25</span>
            ₹250.53
          </div>
        </div>
        <hr />
        <div class="order-wrap">
          <div class="product-one">
            <span class="count-no">3</span>
            <h5>
              Freshwater Prawns 50 Count/Kg (Jhinga/ Seegadi) - Cleaned &
              Deveined, No Tail
            </h5>
            <span href="#">Net wt: 500gms</span>
            <span href="#">Gross wt: 700gms</span>
          </div>
          <div class="quantity-pr">
            2
          </div>
          <div class="price">
            <span>₹350.25</span>
            ₹250.53
          </div>
        </div>
        <div class="btn-primary amount">Total Amount <span>₹1080.78</span></div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "Vieworder",
  props: {
    msg: String,
  },
};
</script>
