@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
body {
  background: #f2f8fc;
  font-family: "Source Sans Pro", sans-serif;
}
.ml-100 {
  margin-left: 100px;
}
.container {
  @media (min-width: 1200px) {
    max-width: 1296px;
  }
  @media (max-width: 768px) {
    max-width: 660px;
  }
}
.btn-secondary:focus,
.btn-secondary.focus {
  background-color: #1b1464 !important;
  color: #fff;
  border: 1px solid #1b1464;
  outline: none;
  box-shadow: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e8c1b;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slick-slide {
  .slide-wrap {
    .card {
      margin: 10px;
      .card-title {
        color: #222222;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0px !important;
        height: 38px;
        line-height: 18px;
        display: block;
      }
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.breadcrumb {
  background: none;
  padding: 0px;
  li {
    a {
      color: #5a5a5a;
    }
    font-size: 14px;
  }
  .breadcrumb-item.active {
    color: #1b1464;
  }
}
.full-width {
  width: 100%;
}
.share-icons {
  .dropdown-menu {
    text-align: center;
    a {
      display: inline-block;
      margin: 0px 10px;
      i {
        font-size: 20px;
        color: #1b1464;
        transition: all 0.4s ease;
        &:hover {
          color: #5acc00;
        }
      }
    }
  }
}
.card {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px !important;
  .card-body {
    padding: 0px;
    .card-body-wrap {
      padding: 16px;
    }
    .pr-no {
      font-size: 12px;
    }
    .card-title {
      color: #222222;
      font-weight: 600;
      font-size: 16px;
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      &:hover {
        color: #5acc00;
        text-decoration: none;
      }
    }
    .card-text {
      font-size: 14px;
      color: #828282;
    }
    .net-gross {
      display: flex;
      font-size: 14px;
      margin-bottom: 0.75rem;
      .net-wt {
        margin-right: 20px;
        color: #212529;
        font-weight: 600;
      }
      .gross-wt {
        color: #212529;
        font-weight: 600;
      }
    }
    .price-btn {
      display: flex;
      align-items: center;
      margin-bottom: 0.75rem;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        display: block;
      }
      .btn {
        text-transform: uppercase;
        font-size: 12px;
        height: 35px;
        padding: 7px 15px;
      }
      .price {
        font-size: 18px;
        color: #222222;
        margin-right: 3%;
        font-weight: bold;
      }
      .mrp {
        margin-right: 3%;
        color: #828282;
        font-size: 14px;
        .brake {
          text-decoration: line-through;
        }
      }
      .off {
        color: #5acc00;
        font-size: 14px;
      }
      .input-counter {
        .input-group-prepend {
          .btn {
            width: 30px !important;
            height: 30px !important;
            padding: 0px !important;
            font-size: 22px !important;
          }
        }
        .input-group-append {
          .btn {
            width: 30px !important;
            height: 30px !important;
            padding: 0px !important;
            font-size: 22px !important;
          }
        }
        .cart-quantity {
          color: #000 !important;
        }
      }
    }
    .delivery {
      color: #6d6e71;
      font-weight: bold;
      border-top: 1px solid #eeeeee;
      padding-top: 8px;
      img {
        display: inline-block;
      }
      span {
        color: #6d6e71;
        font-weight: 400;
      }
    }
  }
}
button.slick-arrow.slick-prev {
  position: absolute;
  left: -80px;
  top: 46%;
  z-index: 1;
  font-size: 0px;
  border: none;
  padding: 0px;
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background: url(images/prev.png) no-repeat;
    background-size: cover !important;
  }
  @media only screen and (max-width: 1480px) {
    left: 20px;
    top: 42%;
  }
}
button.slick-arrow.slick-next {
  position: absolute;
  right: -40px;
  top: 46%;
  z-index: 1;
  font-size: 0px;
  border: none;
  padding: 0px;
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background: url(images/next.png) no-repeat;
    background-size: cover !important;
  }
  @media only screen and (max-width: 1480px) {
    right: 60px;
    top: 42%;
  }
}
.secondary-link {
  color: #1b1464;
  font-size: 20px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: #1b1464;
  }
}
.btn {
  font-size: 14px;
  display: inline-block;
  transition: all 0.4s ease;
  &-primary {
    background: #1b1464;
    color: #fff;
    border: 1px solid #1b1464;
    &:hover {
      background: #5acc00;
      border: 1px solid #5acc00;
    }
  }
  &-secondary {
    background: none;
    border: 1px solid #1b1464;
    border-radius: 4px;
    color: #1b1464;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 15px !important;
    &:hover {
      background: #1b1464;
    }
  }
  &-third {
    color: #fff;
    background: #5acc00;
    &:hover {
      background: #1b1464;
      color: #fff;
    }
  }
  &-fourth {
    background: #eeecff;
    border: 0.5px solid #1b1464;
    border-radius: 4px;
  }
}
.heading-with-line {
  display: flex;
  align-items: center;
  justify-content: center;
  .line-left {
    width: 26px;
    height: 2px;
    background: #222;
    display: inline-block;
    margin-right: 15px;
  }
  .line-right {
    width: 26px;
    height: 2px;
    background: #222;
    display: inline-block;
    margin-left: 15px;
  }
}
.pb-5 {
  @media only screen and (max-width: 768px) {
    padding-bottom: 1rem !important;
  }
}
h1 {
  font-size: 32px;
  font-weight: 600;
  color: #222222;
  @media only screen and (max-width: 768px) {
    font-size: 22px;
  }
}
h2 {
  font-size: 32px;
  font-weight: 600;
  color: #222222;
  @media only screen and (max-width: 768px) {
    font-size: 22px;
  }
}
h3 {
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  @media only screen and (max-width: 768px) {
    font-size: 18px;
  }
}
.h3 {
  font-size: 16px;
  font-weight: 600;
  color: #222222;
}
p {
  color: #222222;
}
.btn--green,
.btn--primary:hover {
  background: #59ac2c;
  color: #fff;
}
.btn--green,
.btn--secondary:hover {
  background: #ff4800;
  color: #fff;
}
.btn--green,
.btn--blue--border:hover {
  background: #3b6ba6;
  color: #fff;
}
.btn--green--border:hover {
  background: #59ac2c;
  color: #fff;
}
.top-spacing {
  margin-top: 240px;
  @media only screen and (max-width: 1280px) {
    margin-top: 210px;
  }
  @media only screen and (max-width: 991px) {
    margin-top: 134px;
  }
}
.custom-select:focus {
  outline: none;
  box-shadow: none;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
}
.sub-text {
  font-size: 26px;
  color: #4a4a4a;
  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}
.modal-header {
  position: static;
}
.tab-wrapper {
  .card {
    box-shadow: none;
    border: none;
    background: none;
    li {
      margin-right: 40px;
      a {
        padding: 12px 0px;
        border: none;
        font-weight: 600;
        font-size: 20px;
        color: #808080;
        position: relative;
        &.active {
          background: none;
          color: #1b1464;
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: #1b1464;
            bottom: 0;
            border-radius: 5px 5px 0px 0px;
          }
        }
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .card-text {
      padding: 10px 0px 0px;
      color: #555555;
      ul {
        padding-left: 20px;
        li {
          margin-right: 0px;
          padding: 4px 0px;
          &::marker {
            color: #5acc00;
          }
        }
      }
      font-size: 16px;
    }
    .col-md-4 {
      p {
        font-size: 14px;
      }
    }
  }
}
.errormessage {
  margin-top: -18px;
  margin-bottom: 6px;
  display: block;
  font-size: 14px;
  color: #de1f11;
}
.product-photo-wrap {
  .zoomer-bottom-base-container {
    width: 100% !important;
    img {
      width: 100%;
      border-radius: 10px;
    }
    .thumb-list {
      margin-top: 70px;
    }
    img.responsive-image {
      border-radius: 6px;
    }
  }
  img.zoomer-control.responsive-image {
    width: 30px !important;
  }
  .easyzoom {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }
  .thumbnails {
    overflow: hidden;
    margin: 20px 0px 0px;
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      width: 140px;
      margin: 0 5px;
    }
    img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      border-radius: 6px;
    }
  }
}
.green {
  color: #5acc00;
}
.easyzoom img {
  vertical-align: bottom;
}

.easyzoom.is-loading img {
  cursor: progress;
}

.easyzoom.is-ready img {
  cursor: crosshair;
}

.easyzoom.is-error img {
  cursor: not-allowed;
}

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  background: #fff;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px;
}
#bv-modal-address-change {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
  }
  .address-single {
    background: #fff;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 20px;
    display: block;
    cursor: pointer;
    h6 {
      color: #4f4f4f;
      font-weight: bold;
      font-size: 14px;
    }
    &:hover {
      text-decoration: none;
    }
    p {
      font-size: 14px;
    }
    &.selected {
      background: #efedff;
      border: 1px solid #1b1464;
      h6 {
        color: #1b1464;
      }
      i {
        position: absolute;
        left: -3px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: antiquewhite;
        font-size: 20px;
        height: 20px;
        background: #fff;
        display: block;
        border-radius: 50%;
      }
    }
    .edit {
      float: right;
      font-size: 12px;
    }
    i {
      display: none;
    }
  }
  .btn-primary {
    background: #1b1464 !important;
    color: #fff !important;
  }
}
.modal-dialog {
  header {
    background: #f8f8ff;
    box-shadow: none;
    border: none;
    .modal-title {
      font-size: 20px;
      font-weight: 600 !important;
    }
  }
}
.form-control {
  height: 46px;
  border: 1px solid #d9d9d9;
}
#bv-modal-vieworder {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
  }
  .amount {
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 60px;
  }
  header {
    .modal-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;
      .product {
        min-width: 40%;
      }
      .Quantity {
        min-width: 20%;
        text-align: center;
      }
      .Price {
        min-width: 20%;
        text-align: center;
      }
    }
    .close {
      position: absolute;
      right: 15px;
    }
  }
  .order-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    .product-one {
      position: relative;
      h5 {
        font-size: 14px;
        margin-bottom: 8px;
        font-weight: 600;
      }
      span {
        color: #4a4a4a;
        font-size: 12px;
        margin-right: 20px;
      }
      min-width: 40%;
      padding-left: 34px;
      .count-no {
        width: 24px;
        height: 24px;
        font-size: 14px;
        min-width: 24px;
        display: inline-block;
        text-align: center;
        left: 0;
        border-radius: 50%;
        font-weight: 400;
        background: #eae8ff;
        margin-right: 8px;
        position: absolute;
      }
    }
    .quantity-pr {
      min-width: 20%;
      text-align: center;
      font-size: 14px;
    }
    .price {
      min-width: 30%;
      font-size: 14px;
      color: #1b1464;
      font-weight: bold;
      text-align: center;
      span {
        color: #7d7d7d;
        font-weight: 400;
        text-decoration: line-through;
      }
    }
  }
}
#bv-modal-editprofile {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
    .price-remove ul {
      text-align: left;
    }
    .modal-content {
      height: 700px;
    }
    .btn {
      height: 44px;
    }
    .phnno {
      .btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.message-error-input {
  font-size: 12px;
  color: #fb1100;
}

#bv-modal-mycart {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
    .price-remove ul {
      text-align: left;
    }
  }
  .modal-body {
    @media screen and (max-width: 768px) {
      padding: 0px;
    }
  }
  .bottom-wrap {
    position: static;
    box-shadow: none;
    padding: 0px;
  }
}
#bv-modal-promocode {
  ul {
    padding-left: 15px;
    li {
      padding-top: 10px;
    }
  }
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
  }
  .form-inline {
    .form-group {
      width: 75%;
      .form-control {
        width: 100%;
        border-radius: 4px 0px 0px 4px;
      }
    }
  }
  .btn {
    height: 46px;
    border-radius: 0px;
  }
}
#bv-modal-address {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
  }
  header {
    background: #f8f8ff;
    box-shadow: none;
    border: none;
    .modal-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    i {
      color: #666666;
      font-size: 18px;
      margin-right: 4px;
    }
  }
  .btn-primary {
    background: #1b1464 !important;
    color: #fff !important;
    border: 1px solid #1b1464 !important;
  }
  .home-ofc-oth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn {
      border: 1px solid #bebebe;
      color: #a3a3a3;
      max-width: 32%;
      border-radius: 4px;
      &.active {
        background: #a3a3a3;
        color: #fff;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .form-group {
    .form-control {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      height: 46px;
    }
    a {
      .detect-location {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        height: 46px;
        line-height: 40px;
        padding: 0px 10px;
        display: block;
        color: #1b1464;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.navbar-toggler {
  &:focus {
    outline: none;
  }
}
.navbar-dark .navbar-toggler-icon {
  background: url(../assets/images/hamburg.png) no-repeat !important;
}
#bv-modal-edit-address {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
  }
  header {
    background: #f8f8ff;
    box-shadow: none;
    border: none;
    .modal-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    i {
      color: #666666;
      font-size: 18px;
      margin-right: 4px;
    }
  }
  .btn-primary {
    background: #1b1464 !important;
    color: #fff !important;
    border: 1px solid #1b1464 !important;
  }
  .home-ofc-oth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn {
      border: 1px solid #bebebe;
      color: #a3a3a3;
      max-width: 32%;
      border-radius: 4px;
      &.active {
        background: #a3a3a3;
        color: #fff;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .form-group {
    .form-control {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      height: 46px;
    }
    a {
      .detect-location {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        height: 46px;
        line-height: 40px;
        padding: 0px 10px;
        display: block;
        color: #1b1464;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
#bv-modal-user-address {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    @media (min-width: 576px) {
      max-width: 600px;
    }
  }
  header {
    background: #f8f8ff;
    box-shadow: none;
    border: none;
    .modal-title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    i {
      color: #666666;
      font-size: 18px;
      margin-right: 4px;
    }
  }
  .btn-primary {
    background: #1b1464 !important;
    color: #fff !important;
    border: 1px solid #1b1464 !important;
  }
  .home-ofc-oth {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .btn {
      border: 1px solid #bebebe;
      color: #a3a3a3;
      max-width: 32%;
      border-radius: 4px;
      &.active {
        background: #a3a3a3;
        color: #fff;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }
  .form-group {
    .form-control {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      height: 46px;
    }
    a {
      .detect-location {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        height: 46px;
        line-height: 40px;
        padding: 0px 10px;
        display: block;
        color: #1b1464;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
