#nav {
  .navbar-dark {
    padding: 0.5rem 0px;
    .navbar-collapse {
      justify-content: center;
    }
    .navbar-nav {
      li {
        text-align: center;
        margin: 0px 20px;
        @media only screen and (max-width: 1280px) {
          margin: 0px 15px;
        }
        @media only screen and (max-width: 1200px) {
          margin: 0px 8px;
        }
        a {
          color: #1b1464 !important;
          display: block;
          font-weight: 600;
          font-style: normal;
          font-size: 16px;
          -webkit-transition: all 0.6s ease;
          -moz-transition: all 0.6s ease;
          -ms-transition: all 0.6s ease;
          -o-transition: all 0.6s ease;
          transition: all 0.6s ease;
          img {
            display: block;
            margin: auto;
            width: 60px;
            -webkit-transition: all 0.8s ease;
            -moz-transition: all 0.8s ease;
            -ms-transition: all 0.8s ease;
            -o-transition: all 0.8s ease;
            transition: all 0.8s ease;
          }
          &:hover img {
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            transform: rotateY(180deg);
          }
          &:hover {
            color: #60ab3e !important;
          }
        }
        .router-link-exact-active {
          color: #60ab3e !important;
          @media only screen and (max-width: 991px) {
            color: #ffffff !important;
          }
        }
        @media only screen and (max-width: 991px) {
          width: 30.333%;
          display: inline-block;
          margin: 0px 0px 10px;
        }
      }
      width: 100%;
      justify-content: space-between;
      @media only screen and (max-width: 991px) {
        display: block;
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 991px) {
    background: #f2f8fc;
  }
  .navbar-toggler {
    @media only screen and (max-width: 991px) {
      padding: 0.25rem 0rem;
      border: none;
    }
  }
}
.top-bar {
  padding: 5px 0px;
  font-size: 14px;
  .top-lists {
    margin-bottom: 0px;
    text-align: right;
    li {
      display: inline-block;
      list-style: none;
      margin-left: 30px;
    }
  }
  @media only screen and (max-width: 1280px) {
    display: none;
  }
}
.logo-search-wrapper {
  background: #fff;
  height: 80px;
  padding: 16px 0px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  .container {
    display: flex;
    align-items: center;
    .logo {
      max-width: 150px;
      img {
        width: 100%;
      }
      @media only screen and (max-width: 768px) {
        max-width: 90px;
      }
    }
  }
  .form-group {
    margin-bottom: 0px;
  }

  .custom-select {
    border: none;
    font-size: 14px;
    color: #222222;
  }
  .location-switch {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: url(../assets/images/map.png);
      width: 20px;
      height: 20px;
      top: 0;
      bottom: 0;
      left: -15px;
      margin: auto;
    }
    @media only screen and (max-width: 768px) {
      margin-right: 10px !important;
      margin-left: 10px !important;
    }
  }
  .form-inline {
    max-width: 480px;
    width: 100%;
    position: relative;
    div {
      width: 100%;
      .autocomplete {
        width: 100%;
        input {
          width: 100%;
          height: 44px;
          border-radius: 4px;
          background: #ffffff;
          border: 0.8px solid #cfcfcf;
          font-size: 14px;
          padding-left: 12px;
          &:focus {
            outline: none;
          }
        }
        .autocomplete-result-list {
          padding-left: 0px;
          list-style: none;
          background: #fff;
          padding: 14px;
          margin-top: 10px;
          z-index: 11 !important;
          border-radius: 6px;
          -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.19);
          -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.19);
          box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.19);
          li {
            cursor: pointer;
            font-size: 14px;
            padding: 6px 0px;
          }
        }
      }
    }
    .form-control {
      width: 100%;
      height: 44px;
      border-radius: 4px;
      background: #ffffff;
      border: 0.8px solid #cfcfcf;
    }
    .btn {
      position: absolute;
      right: 0;
      top: 0;
      height: 44px;
    }
    @media only screen and (max-width: 1280px) {
      max-width: 320px;
    }
    @media only screen and (max-width: 768px) {
      margin-left: auto;
    }
  }
  .custom-select {
    background: #fff url(../assets/images/down.png) no-repeat right 0.75rem
      center/8px 10px;
    background-size: 14px 8px;
  }
  .dropdown-menu {
    background: #f2f8fc;
    border-radius: 10px;
    padding-bottom: 40px;
    padding-top: 0px;
    overflow: hidden;
    li {
      border-bottom: 0.5px solid #cfcfcf;
      a {
        padding: 10px 10px;
        &:hover {
          background: #eae8ff;
        }
      }
    }
  }
}
header {
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: fixed;
  background: #f2f8fc;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  box-shadow: 0px 4px 10px rgba(75, 75, 75, 0.2);
  .dropdown-item {
    font-size: 14px;
  }
  .cart-guest {
    @media only screen and (max-width: 768px) {
      position: absolute;
      top: 96px;
      right: 15px;
      z-index: 10;
    }
  }
}
@media only screen and (min-width: 1280px) {
  header.scrolled {
    -moz-transform: translateX(0px) translateY(-30px);
    -webkit-transform: translateX(0px) translateY(-30px);
    -o-transform: translateX(0px) translateY(-30px);
    -ms-transform: translateX(0px) translateY(-30px);
    transform: translateX(0px) translateY(-30px);
    .navbar-nav {
      li {
        a {
          img {
            width: 30px !important;
          }
          padding: 0rem 1rem;
        }
      }
    }
    .logo-search-wrapper {
      height: 62px;
      padding: 8px 0px;
    }
  }
}

#modal-cart {
  .modal-dialog {
    height: 100%;
    margin: 0px;
    margin-left: auto;
  }
  .primary-link {
    font-weight: 700;
    font-size: 14px;
  }
  .modal-title {
    font-size: 22px;
    font-weight: 600;
    color: #222222;
  }
  .modal-content {
    height: 100%;
    border: none;
    border-radius: 0px;
    background: #f2f8fc;
  }
  .modal-body {
    padding: 0px;
  }
  .delivering-to {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    font-size: 14px;
    p {
      margin-bottom: 0px;
    }
    .mid-head {
      color: #222222;
      font-weight: 700;
    }
  }
  .order-delivery {
    border: 1px solid #e5e5e5;
    background: #fff5e5;
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 15px;
    p {
      margin-bottom: 0px;
      font-size: 12px;
    }
    .mid-head {
      color: #222222;
      font-weight: 700;
    }
  }
}
.btn-btn-white {
  background: url(../assets/images/user.png) no-repeat;
  background-position: center left;
  padding-left: 25px;
  font-size: 14px;
}
.cart-btn {
  color: #000;
  margin-left: 50px;
  font-size: 14px;
  position: relative;
  .count {
    position: absolute;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5acc00;
    color: #fff;
    top: -8px;
    left: 10px;
    border-radius: 4px;
    font-size: 12px;
    @media screen and (max-width: 768px) {
      width: 16px;
      height: 16px;
      background: #fff;
      color: #5acc00;
    }
  }
  img {
    margin-right: 8px;
  }
  &:hover {
    text-decoration: none;
    color: #000;
  }
  @media only screen and (max-width: 1200px) {
    margin-left: 4px;
  }
  span {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.signin {
  color: #000;
  margin-left: 50px;
  font-size: 14px;
  img {
    margin-right: 8px;
  }
  &:hover {
    text-decoration: none;
    color: #000;
  }
  @media only screen and (max-width: 1200px) {
    margin-left: 4px;
  }
  span {
    @media only screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.right-text {
  display: flex;
  align-items: center;
}
