.banner-area {
  height: 56vh;
  background-size: cover !important;
  @media only screen and (max-width: 1360px) {
    height: 56vh;
  }
  @media only screen and (max-width: 1024px) {
    height: 36vh;
  }
  @media only screen and (max-width: 991px) {
    height: 30vh;
  }
  @media only screen and (max-width: 600px) {
    height: 220px;
  }
}
.about {
  .container {
    .col-md-3 {
      @media only screen and (max-width: 1280px) {
        flex: 0 0 33.333%;
        max-width: 33.33%;
      }
      @media only screen and (max-width: 991px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}
.section-two {
  .card-body {
    .delivery {
      font-size: 12px;
      padding-top: 10px;
    }
  }
  .col-md-3 {
    @media only screen and (max-width: 1280px) {
      flex: 0 0 33.333%;
      max-width: 33.33%;
    }
    @media only screen and (max-width: 991px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media only screen and (max-width: 600px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
.banner {
  ul {
    padding-left: 0px;
    text-align: center;
    margin-bottom: 0px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    li {
      display: inline-block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      background: #fffeff;
      margin: 0px 8px;
      cursor: pointer;
      &.slick-active {
        background: #5bcc00;
      }
      button {
        display: none;
      }
    }
    @media only screen and (max-width: 600px) {
      bottom: 15px;
    }
  }
}
.section-four {
  .col-md-3 {
    margin-bottom: 30px;
    @media screen and (max-width: 991px) {
      margin-bottom: 10px;
    }
    @media screen and (max-width: 768px) {
      flex: 50%;
      width: 50%;
    }
    .image-parent {
      width: 100%;
      height: 260px;
      border-radius: 10px;
      background-size: cover !important;
      overflow: hidden;
      @media screen and (max-width: 1280px) {
        height: 248px;
      }
      @media screen and (max-width: 1200px) {
        height: 180px;
      }
      @media screen and (max-width: 991px) {
        height: 130px;
      }
      @media screen and (max-width: 768px) {
        height: 250px;
      }
      @media screen and (max-width: 600px) {
        height: 180px;
      }
      @media screen and (max-width: 460px) {
        height: 162px;
      }
      @media screen and (max-width: 400px) {
        height: 128px;
      }
    }
    .category {
      width: 100%;
      height: 100%;
      transition: all 0.9s;
      background-size: cover !important;
    }
    .h4 {
      font-size: 20px;
      font-weight: 600;
      color: #222222;
      margin-bottom: 0px;
      padding: 10px 0px;
      @media screen and (max-width: 991px) {
        font-size: 16px;
      }
      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
    a {
      &:hover {
        text-decoration: none;
        .category {
          transform: scale(1.05);
        }
      }
    }
  }
}
.section-five {
  .col-md-4 {
    @media only screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
}
.blog-card {
  height: 100%;
  .card {
    height: 100%;
    margin-bottom: 0px !important;
  }
  .card-body {
    height: 100%;
    p {
      font-size: 14px;
      color: #828282;
      margin-bottom: 0px;
    }
  }
}
footer {
  background: #fff;
  h4 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #222222;
    font-weight: 600;
  }
  .app {
    display: block;
    margin-bottom: 12px;
  }
  .footer-logo {
    max-width: 150px;
  }
  .col-md-7 {
    ul {
      padding-left: 0px;
      list-style: none;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      li {
        font-size: 14px;
        a {
          color: #7c7c7c;
          padding: 0px 0px 6px;
          display: block;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          &:hover {
            text-decoration: none;
            color: #5acc00;
          }
        }
      }
    }
  }
  .col-md-7.d-flex {
    @media only screen and (max-width: 420px) {
      flex-wrap: wrap;
    }
    ul {
      @media only screen and (max-width: 420px) {
        flex: 50%;
        max-width: 50%;
      }
      li {
      }
    }
  }
  .col-md-5 {
    .col-md-6 {
      img.img-fluid.float-right {
        @media only screen and (max-width: 768px) {
          float: left !important;
        }
      }
    }
  }
  p {
    font-size: 14px;
    color: #7c7c7c;
  }
  .footer-contents-wrap {
    p {
      font-size: 15px;
      color: #7c7c7c;
      @media only screen and (max-width: 768px) {
        font-size: 13px;
      }
      strong {
        font-weight: 600;
        font-size: 15px;
        color: #000;
      }
    }
  }
}
#bv-modal-addfeedback {
  .modal-dialog {
    min-height: calc(100% - 3.5rem);
    align-items: center;
    display: flex;
    .ratings {
      i {
        font-size: 26px;
        color: #969696;
        margin-right: 8px;
        &.active {
          color: #f5b12d;
        }
      }
    }
    .btn-primary {
      background: #1b1464 !important;
      color: #fff !important;
    }
  }
}
.download-app {
  .social-media {
    a {
      display: inline-block;
      margin-right: 10px;
      i {
        font-size: 30px;
        color: #656565;
      }
    }
  }
}
.developedby {
  a {
    color: #222222;
    text-decoration: none;
  }
}

.single-card {
  a:hover {
    text-decoration: none;
  }
  .card {
    min-height: 390px;
    .card-title {
      height: 38px;
      margin-bottom: 2px;
      line-height: 18px;
    }
    .img-fluid {
      width: 100%;
    }
  }
  .card-body-wrap {
    position: relative;
    span.favourites {
      background: #daffbc;
      width: 36px;
      height: 36px;
      position: absolute;
      top: -36px;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #5acc00;
      }
    }
    span.saved-item {
      background: #ffeded;
      width: 36px;
      height: 36px;
      position: absolute;
      top: -36px;
      right: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: #eb5757;
      }
    }
  }
  .net-gross {
    font-size: 12px !important;
  }
}
.single-card {
  .delivery {
    font-size: 12px;
  }
}
.price-detail-page {
  .col-md-12 {
    display: flex;
    align-items: center;
    @media screen and (max-width: 600px) {
      display: block;
      text-align: center;
    }
    .btn {
      padding: 12px 22px;
      @media screen and (max-width: 600px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .price {
      font-size: 32px;
      color: #1b1464;
      font-weight: 600;
      margin-right: 15px;
    }
    .mrp {
      font-size: 16px;
      color: #7d7d7d;
      margin-right: 15px;
      span {
        text-decoration: line-through;
      }
    }
    .off {
      color: #5acc00;
      font-weight: 400;
    }
  }
}
.reffereal-code {
  background: #ffffff;
  border: 1px solid #eae8ff;
  box-shadow: 0px 4px 10px rgba(234, 232, 255, 0.3);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .bold {
    font-size: 22px;
    font-weight: 600;
  }
}
.share-wrapper {
  .col-md-12 {
    display: flex;
    align-items: center;
    @media screen and (max-width: 600px) {
      display: block;
      text-align: center;
    }
  }
  p {
    margin-bottom: 0px;
    @media screen and (max-width: 600px) {
      margin-top: 15px;
    }
  }
}

.recommended {
  background: #f5f5f5;
  .tab-wrapper .tab-content {
    padding: 20px 0px 0px;
    ul {
      padding-left: 0px !important;
      li {
        font-size: 16px;
        margin-right: 0px;
        margin-bottom: 10px;
        padding: 0px !important;
        &::marker {
          content: none;
        }
      }
    }
    ol {
      padding-left: 20px;
      li {
        margin-right: 0px;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
    .col-md-6 {
      border-right: 1px solid #ccc;
      &:last-child {
        border-right: none;
      }
    }
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
}
.curved-border {
  border-radius: 10px;
}
.related-products {
  padding: 60px 0px;
}
.right-image {
  p {
    display: inline-block;
    font-size: 14px;
  }
}
.primary-link {
  color: #1b1464;
  &:hover {
    text-decoration: none;
    color: #1b1464;
  }
}
.our-packing {
  background: #f5f5f5;
  padding: 40px 0px;
  h4 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  p {
    font-size: 14px;
  }
}

.starrating {
  margin-top: 15px;
  i {
    font-size: 18px;
    margin-right: 4px;
    &.active {
      color: #5acc00;
    }
    color: #5acc00;
  }
  span {
    color: #7d7d7d;
  }
}
.total-amount-wrapper {
  background: #fff;
  padding: 20px;
  .total-amount {
    .col-6 {
      font-weight: bold;
      color: #1b1464;
    }
  }
}
#modal-cart {
  overflow-y: hidden;
  .modal-header {
    background: #f8f8ff;
    box-shadow: none;
    border: none;
  }
  .modal-body {
    background: #fff;
    overflow-y: auto;
  }
  .cart-total-wrap {
    margin-bottom: 0px;
    overflow-y: auto;
  }
}
.why-choose {
  background: #fff;
  .heading-with-line {
    color: #1b1464;
  }
  .col-md-4 {
    img {
      display: block;
      margin: auto;
    }
    .h4 {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-top: 20px;
    }
    p {
      font-size: 16px;
      text-align: center;
      padding: 0px 30px;
    }
  }
}
.product-detailview {
  @media (max-width: 768px) {
    .col-md-5 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-md-7 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-top: 30px;
    }
  }
}
.other-varients {
  .h3 {
    margin-bottom: 15px;
  }
  a {
    border-radius: 4px;
    border: 1px solid #1b1464;
    color: #222222;
    padding: 5px 15px;
    display: inline-block;
    margin-right: 15px;
    font-size: 14px;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    &:hover {
      text-decoration: none;
      background: #5acc00;
      color: #fff;
      border: 1px solid #5acc00;
    }
  }
}
.cart-product-wrap {
  background: #f2f8fc;
  padding: 20px;
  @media screen and (max-width: 600px) {
    padding: 12px;
  }
  .head {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-right: 0px;
    @media screen and (max-width: 768px) {
      font-size: 13px;
    }
    .count-no {
      width: 24px;
      height: 24px;
      font-size: 14px;
      min-width: 24px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      font-weight: 400;
      background: #eae8ff;
      margin-right: 8px;
    }
  }
  .price-remove {
    ul {
      padding-left: 0px;
      list-style: none;
      margin-bottom: 0px;

      li {
        display: inline-block;
        margin-right: 15px;
        a {
          color: #1b1464;
          font-size: 14px;
        }
        position: relative;
        &::before {
          position: absolute;
          content: "";
          width: 1px;
          height: 9px;
          background: #1b1464;
          right: -8px;
          top: 4px;
          bottom: 0;
          margin: auto;
        }
        &:last-child {
          &::before {
            display: none;
          }
        }
      }
    }
    p {
      margin-bottom: 0px;
    }
    .total-amount {
      text-align: right;
      p {
        color: #1b1464;
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-size: 13px;
        }
      }
    }
  }
  .wg {
    display: flex;
    p {
      margin-right: 15px;
      font-size: 14px;
      font-weight: 400;
      color: #4a4a4a;
      margin-bottom: 5px;
    }
  }
  .input-counter .form-control {
    background: none;
  }
}
.location-wrappper {
  display: flex;
  align-items: center;
  margin-right: 80px;
  margin-left: 60px;
  font-size: 14px;
  img {
    margin-right: 6px;
  }
  @media screen and (max-width: 1280px) {
    margin-right: 40px;
    margin-left: 20px;
  }
  @media screen and (max-width: 768px) {
    margin-right: 40px;
    margin-left: 0px;
  }
}
.input-counter {
  .input-group {
    align-items: center;
    width: 100px;
    float: right;
    justify-content: flex-end;
    @media screen and (max-width: 768px) {
      width: 75px;
    }
  }
  .cart-quantity {
    width: 36px;
    text-align: center;
  }
  .input-group-prepend {
    .btn {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      color: #1b1464;
      width: 30px;
      height: 30px;
      font-size: 25px;
      line-height: 28px;
      text-align: center;
      border-radius: 50%;
      padding: 0px;
      background: #daffbc;
      border: 1px solid #1b1464;
      @media screen and (max-width: 768px) {
        width: 20px;
        height: 20px;
        line-height: 18px;
      }
    }
  }
  .input-group-append {
    .btn {
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      color: #1b1464;
      width: 30px;
      height: 30px;
      line-height: 28px;
      font-size: 25px;
      text-align: center;
      border-radius: 50%;
      padding: 0px;
      background-clip: padding-box;
      background: #eae8ff;
      border: 1px solid #1b1464;
      @media screen and (max-width: 768px) {
        width: 20px;
        height: 20px;
        line-height: 18px;
      }
    }
  }
  .form-control {
    padding: 0px;
    border: none;
    text-align: center;
  }
}
.payment-method-tabs {
  .nav {
    flex-wrap: inherit;
    border-bottom: none;
    justify-content: space-between !important;
    li {
      width: 30.333%;
      text-align: center;
      a {
        border: 1px solid #cfcfcf;
        height: 48px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #222222;
        &.active {
          border: 1px solid #1b1464;
          background: #f8f8ff;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 14px;
            height: 12px;
            bottom: -12px;
            background: url(../assets/images/downarrow.png) no-repeat;
          }
        }
      }
    }
  }
  .proceed-to-checkout {
    text-align: center;
    border: 1px solid #e2e2e2;
    height: 300px;
    position: relative;
    border-radius: 4px;
    .centerd {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.no-adrs {
  background: #efedff;
  border: 1px solid #1b1464;
  border-radius: 4px;
  padding: 20px;
  max-width: 462px;
  display: block;
  cursor: pointer;
  h6 {
    color: #1b1464;
    font-weight: 600;
    font-size: 14px;
  }
  &:hover {
    text-decoration: none;
  }
  p {
    font-size: 14px;
  }
}

.pdg-lt {
  padding-left: 60px;
  @media (max-width: 991px) {
    flex: 100%;
    max-width: 100%;
  }
}
.cartview {
  .col-md-4 {
    @media (max-width: 991px) {
      flex: 100%;
      max-width: 100%;
    }
  }
}
.cart-card {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  padding: 20px;
  font-size: 14px;
  position: relative;
  h5 {
    font-size: 16px;
    font-weight: 600;
    .primary-link {
      font-size: 14px;
    }
  }
  .inner-collapse {
    max-width: 520px;
  }
  .mrgin-lft {
    margin-left: 190px;
    @media screen and (max-width: 768px) {
      display: block;
      margin-left: 0px;
    }
  }
  .phn-no-ver {
    position: relative;
    @media screen and (max-width: 768px) {
      flex: 100%;
      max-width: 100%;
    }
    input {
      border: 1px solid #1b1464;
      height: 46px;
      padding-left: 50px;
    }
    .mob-code {
      position: absolute;
      background: #fff;
      height: 38px;
      left: 17px;
      top: 3px;
      padding: 8px 8px;
      margin-bottom: 0px;
    }
  }
  .otp-enter {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex: 100%;
      max-width: 100%;
    }
    input {
      border: 1px solid #c4c4c4;
      height: 46px;
      width: 100%;
      @media screen and (max-width: 768px) {
        width: 50px;
      }
    }
  }
  .btn-primary {
    padding: 10px 20px;
    height: 46px;
  }
  .icon-active {
    position: absolute;
    left: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
  }
  &::before {
    content: "";
    position: absolute;
    border-left: 1px dashed #222222;
    top: 0px;
    width: 22px;
    height: 50%;
    left: -28px;
  }
  &::after {
    content: "";
    content: "";
    position: absolute;
    border-left: 1px dashed #222222;
    bottom: -20px;
    width: 22px;
    height: 50%;
    left: -28px;
  }
  .col-5 {
    @media screen and (max-width: 768px) {
      flex: 100%;
      max-width: 100%;
      margin-top: 15px;
    }
  }
}
.remove-before {
  &::before {
    display: none !important;
  }
}
.remove-after {
  &::after {
    display: none !important;
  }
}
.offers-green {
  background: #daffbc;
  border: 1px solid #5acc00;
  border-radius: 4px;
  padding: 15px;
  cursor: pointer;
}
.cart-collapse {
  .collapsebtn {
    background: none;
    border: none;
    padding: 0px;
    width: 100%;
    text-align: left;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #212529;
      text-align: left;
    }
    p {
      font-size: 16px;
    }
  }
  .card {
    box-shadow: none;
    border: none;
    overflow: inherit;
    margin-bottom: 0px !important;
  }
}
.cart-subtotal {
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  overflow: hidden;
  .total-amount {
    color: #1b1464;
    font-weight: 600;
    font-size: 16px;
  }
  .subtotal-wrap {
    padding: 15px 15px 30px;
    background: #f8f8ff;
  }
  .btn {
    border-radius: 0px;
    height: 60px;
    font-size: 22px;
    padding: 12px 0px;
    font-weight: 400;
    margin-top: 64px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 1100px) {
      font-size: 16px;
    }
  }
  span {
    font-size: 16px;
  }
}
.bottom-wrap {
  padding: 20px;
  background: #fff;
  margin-top: 60px;
  position: sticky;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  box-shadow: 0px -4px 10px rgba(27, 20, 100, 0.1);
  p {
    text-align: center;
    font-size: 12px;
  }
  .btn-third {
    width: 100%;
    height: 44px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    background: #1b1464;
  }
}
#modal-signin {
  .modal-dialog {
    display: flex;
    min-height: calc(100% - 3.5rem);
    align-items: center;
    max-width: 430px;
  }
  .modal-content {
    border-radius: 10px;
  }
  .btn {
    width: 100%;
    height: 44px;
  }
  .modal-title {
    font-weight: 600;
    color: #4f4f4f;
    font-size: 22px;
  }
  .modal-header {
    background: none;
    box-shadow: none;
    border: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .form-control {
    border: 1px solid #d9d9d9;
    height: 46px;
  }
  .btn-secondary {
    border: 1px solid #d9d9d9;
    color: #8c8c8c;
    &:hover {
      background: #fff;
    }
  }
  .modal-body {
    padding-bottom: 30px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .newto {
    color: #6f6f6f;
    a {
      color: #1b1464;
    }
  }
  .or {
    display: block;
    text-align: center;
    padding: 12px 0px;
    color: #afafaf;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      display: block;
      width: 42%;
      height: 1px;
      background: #d0d0d0;
    }
    &::after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto;
      display: block;
      width: 42%;
      height: 1px;
      background: #d0d0d0;
    }
  }
}
.border-curved {
  border-radius: 10px;
}
.ordersummay {
  .order-delivery {
    background: #b0e3ff;
    border-radius: 4px;
    padding: 12px 20px;
    p {
      margin-bottom: 0px;
      font-size: 14px;
    }
    .mid-head {
      font-weight: 600;
      font-size: 16px;
      color: #222222;
    }
  }

  .ads {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    height: 410px;
    overflow: hidden;
  }
}
.order-status-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  overflow: hidden;
  .header {
    background: #f2f1ff;
    display: flex;
    padding: 12px 15px;
    justify-content: space-between;
    align-items: center;
    .placed {
      color: #222222;
      font-size: 16px;
      font-weight: 600;
      padding-left: 25px;
      position: relative;
      &::before {
        content: "";
        background: url(../assets/images/check.png) no-repeat;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0;
      }
    }
    .cancelled {
      color: #222222;
      font-size: 16px;
      font-weight: bold;
      padding-left: 25px;
      position: relative;
      &::before {
        content: "";
        background: url(../assets/images/close.png) no-repeat;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: 0;
      }
    }
    span {
      display: block;
      font-size: 12px;
      color: #6b6b6b;
      span {
        font-size: 14px;
        color: #222222;
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 600px) {
      display: block;
    }
  }
  .order-area-wrap {
    padding: 30px 30px;
    p {
      font-size: 14px;
    }
    .order-status {
      display: flex;
      justify-content: space-between;
      position: relative;
      max-width: 366px;
      .status {
        z-index: 1;
        font-size: 14px;
      }
      span {
        width: 16px;
        height: 16px;
        border: 1px solid #c6c6c6;
        border-radius: 50%;
        display: block;
        margin: auto;
        background: #fff;
        &.active {
          background: url(../assets/images/check.png) no-repeat;
          background-size: cover !important;
          border: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 295px;
        height: 1px;
        background: #c6c6c6;
        top: 8px;
        left: -12px;
        right: 0;
        margin: auto;
        @media screen and (max-width: 425px) {
          width: 100%;
        }
      }
    }
    .col-12 {
      text-align: right;
      .btn-fourth {
        max-width: 140px;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        text-align: left;
        margin-top: 20px;
        padding-left: 0px;
      }
    }
    .col-md-12 {
      .btn-fourth {
        width: 100%;
        padding: 2px 0px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        font-size: 13px;
        img {
          margin-right: 5px;
        }
      }
      .col-3 {
        flex: 0 0 20%;
        max-width: 20%;
      }
    }
    .card-body {
      font-size: 14px;
      padding: 0px 0px 30px;
    }
    .bottomadrs-section {
      width: 100%;
      border-top: 1px solid #c1c1c1;
      .btn {
        width: 100%;
        color: #6b6b6b;
        background: none;
        border: none;
        padding: 15px 0px;
        &:focus {
          box-shadow: none;
        }
      }
    }
    .billing-adrs {
      .total-amount-wrapper {
        .col-7 {
          font-weight: bold;
          color: #1b1464;
        }
        .col-5.text-right {
          font-weight: bold;
          color: #1b1464;
        }
      }
    }
  }
}
.delivered {
  background: #fff5e6;
  border-radius: 4px;
  padding: 6px;
  p {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0px;
  }
}
.userprofile {
  .container {
    @media (min-width: 1200px) {
      max-width: 1124px;
    }
    .col-md-4 {
      @media (max-width: 991px) {
        flex: 100%;
        max-width: 100%;
      }
    }
    .col-md-8 {
      @media (max-width: 991px) {
        flex: 100%;
        max-width: 100%;
      }
    }
  }
  .newuser {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
      display: block;
      .btn {
        margin-top: 20px;
      }
    }
  }
  .nav {
    background: #ffffff;
    padding: 0px;
    min-height: 362px;
    .nav-link {
      border-radius: 0px !important;
      color: #000;
      border-bottom: 1px solid #cfcfcf;
      &.active {
        background: #eae8ff;
        color: #000;
      }
      img {
        margin-right: 6px;
      }
    }
    @media (max-width: 991px) {
      min-height: inherit;
      margin-bottom: 30px;
    }
  }
  .card {
    background: #f2f8fc;
    box-shadow: none;
    border: none;
    border-radius: 0px !important;
  }
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: cover !important;
    background: url(../assets/images/profile-user.png) no-repeat;
    position: absolute;
  }
  .name-adrs {
    padding-left: 96px;
    h1 {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
  h2 {
    font-size: 20px;
  }
}
.profile-adrs {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  padding: 20px;
  .address-single {
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 4px;
    h6 {
      font-size: 14px;
      font-weight: 600;
      font-size: 14px;
    }
    p {
      font-size: 12px;
    }
    .primary-link {
      float: right;
      font-size: 12px;
      font-weight: 400;
    }
  }
}
.saved-items {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  padding: 20px;
  .single-card {
    .card {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 10px !important;
    }
  }
  .card-body {
    background: #ffffff;
    border-radius: 10px;
  }
}
#v-pills-wallet {
  .wallet-balance {
    background: #ffffff;
    border: 1px solid #eae8ff;
    box-shadow: 0px 4px 10px rgba(234, 232, 255, 0.3);
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
    .wallet-value {
      font-size: 32px;
      font-weight: 600;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: 600;
  }
  .no-transaction {
    background: #ffffff;
    border: 0.5px solid #eae8ff;
    box-shadow: 0px 4px 10px rgba(234, 232, 255, 0.3);
    border-radius: 10px;
    padding: 80px 10px;
    text-align: center;
  }
}
