<template>
  <div id="app">
    <header>
      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <p class="mb-0">1800-313-3302 | customercare@freshtohome.com</p>
            </div>
            <div class="col-6">
              <ul class="top-lists">
                <li>About us</li>
                <li>Contact us</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="logo-search-wrapper">
        <div class="container">
          <b-navbar-brand to="/" class="logo">
            <img src="@/assets/images/logo.png" class="img-fluid" />
          </b-navbar-brand>
          <span class="location-wrappper">
            <img src="@/assets/images/map.png" class="img-fluid" /> Mysore
          </span>
          <!--<b-form-group id="input-group-3" class="ml-5 mr-5 location-switch">
            <b-form-select
              id="input-3"
              v-model="form.place"
              :options="place"
              required
            ></b-form-select>
          </b-form-group>-->
          <b-nav-form>
            <b-form-input
              size="sm"
              class="searchinput"
              placeholder="Search"
            ></b-form-input>
            <button type="button" class="btn btn-primary">
              <img src="@/assets/images/search.png" />
            </button>
          </b-nav-form>
          <div class="ml-auto right-text cart-guest">
            <!-- <b-dropdown
              id="dropdown-right"
              right
              text="Guest"
              variant="btn-white"
              class="m-0"
            >
              <b-dropdown-item href="#">Action</b-dropdown-item>
              <b-dropdown-item href="#">Another action</b-dropdown-item>
              <b-dropdown-item href="#">Something else here</b-dropdown-item>
            </b-dropdown> -->
            <a href="#" class="signin" v-b-modal.modal-signin>
              <img src="@/assets/images/user.png" /><span>Sign In</span>
            </a>
            <a href="#" class="cart-btn" v-b-modal.modal-cart>
              <div class="count">3</div>
              <img src="@/assets/images/cart.png" /><span>Cart</span>
            </a>
            <div>
              <b-modal id="modal-signin" title="Login/Sign Up" hide-footer>
                <div class="form-wrapper">
                  <input
                    type="tel"
                    id="phone"
                    class="form-control mb-4"
                    placeholder="Enter Phone Number"
                  />
                  <!--<input
                    type="tel"
                    id="phone"
                    class="form-control mb-4"
                    placeholder="Enter OTP"
                  />-->
                  <span class="errormessage"
                    >The mobile field is required*</span
                  >
                  <button class="btn btn-primary">Proceed</button>
                </div>
                <span class="or">or</span>
                <button class="btn btn-secondary mb-4">
                  <img src="@/assets/images/email.png" class="l_icon" />
                  Continue with Email
                </button>
                <button class="btn btn-secondary">
                  <img src="@/assets/images/searchicon.png" class="l_icon" />
                  Continue with Google
                </button>
                <hr class="mt-4" />
                <div class="newto">
                  New to Freshoppe? <a href="#">Create an account</a>
                </div>
              </b-modal>
            </div>
            <div>
              <b-modal id="modal-cart" title="My Cart (4 items)" hide-footer>
                <!--<div class="total-amount-wrapper">
                  <div class="row pb-1">
                    <div class="col-6">
                      Subtotal
                    </div>
                    <div class="col-6 text-right">
                      ₹1080
                    </div>
                  </div>
                  <div class="row pb-1">
                    <div class="col-6">
                      Delivery Charge
                    </div>
                    <div class="col-6 text-right green">
                      Free
                    </div>
                  </div>
                  <div class="row pb-1">
                    <div class="col-6">
                      Discount
                    </div>
                    <div class="col-6 text-right">
                      0
                    </div>
                  </div>
                  <hr />
                  <div class="row total-amount">
                    <div class="col-6">
                      Total Amount
                    </div>
                    <div class="col-6 text-right">
                      ₹1080
                    </div>
                  </div>
                </div>-->
                <div class="delivering-to">
                  <span class="mid-head">Delivering to:</span>
                  <a href="" class="primary-link float-right">CHANGE</a>
                  <p class="pt-1">
                    <span class="mid-head">Home:</span> Noel Flats, Loren Ipsum
                    Street Mysore, Street 4...
                  </p>
                </div>
                <div class="order-delivery">
                  <span class="mid-head">Order Delivery</span>
                  <p class="pt-1">
                    <img src="@/assets/images/food-delivery.png" /> Your package
                    will be delivered within 90 mins of ordering
                  </p>
                </div>
                <div class="cart-total-wrap">
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">1</span>Chicken Drumstick
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">1</span>Chicken Drumstick
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">2</span>Freshwater Prawns 50
                        Count/Kg (Jhinga/ Seegadi) - Cleaned & Deveined, No Tail
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">2</span>Freshwater Prawns 50
                        Count/Kg (Jhinga/ Seegadi) - Cleaned & Deveined, No Tail
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">2</span>Freshwater Prawns 50
                        Count/Kg (Jhinga/ Seegadi) - Cleaned & Deveined, No Tail
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">2</span>Freshwater Prawns 50
                        Count/Kg (Jhinga/ Seegadi) - Cleaned & Deveined, No Tail
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">2</span>Freshwater Prawns 50
                        Count/Kg (Jhinga/ Seegadi) - Cleaned & Deveined, No Tail
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="margin:0px 20px;" />
                  <div class="cart-product-wrap">
                    <div class="row pb-1">
                      <div class="col-8 head">
                        <span class="count-no">2</span>Freshwater Prawns 50
                        Count/Kg (Jhinga/ Seegadi) - Cleaned & Deveined, No Tail
                      </div>
                      <div class="col-4 input-counter">
                        <b-input-group>
                          <b-input-group-prepend>
                            <b-btn variant="outline-info" @click="num--"
                              >-</b-btn
                            >
                          </b-input-group-prepend>

                          <b-form-input
                            type="number"
                            min="0.00"
                            v-model="num"
                          ></b-form-input>

                          <b-input-group-append>
                            <b-btn variant="outline-secondary" @click="num++"
                              >+</b-btn
                            >
                          </b-input-group-append>
                        </b-input-group>
                      </div>
                      <div class="col-12 wg">
                        <p>Net wt: 500gms</p>
                        <p>Gross wt: 700gms</p>
                      </div>
                      <div class="col-12 price-remove">
                        <div class="row">
                          <div class="col-7">
                            <ul>
                              <li>
                                <a href="#">Remove</a>
                              </li>
                              <li>
                                <a href="#">Save for later</a>
                              </li>
                            </ul>
                          </div>
                          <div class="col-5 total-amount">
                            <p>₹250.53</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="bottom-wrap">
                  <p>Promo code can be applied on payment page</p>
                  <a href="/cart" class="btn btn-third"
                    >Proceed to checkout <span>₹1080.78</span></a
                  >
                </div>
              </b-modal>
            </div>
          </div>
        </div>
      </div>
      <div id="nav">
        <div class="container">
          <b-navbar toggleable="lg" type="dark">
            <b-navbar-toggle target="nav-collapse"> </b-navbar-toggle>
            <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav>
                <b-nav-item to="/todaydeals"
                  ><img src="@/assets/images/todaydeals-n.svg" />Today's
                  Deals</b-nav-item
                >
                <b-nav-item to="/about"
                  ><img src="@/assets/images/poultry-n.svg" />
                  Chicken</b-nav-item
                >
                <b-nav-item to=""
                  ><img src="@/assets/images/mutton-n.svg" /> Mutton</b-nav-item
                >
                <b-nav-item to=""
                  ><img src="@/assets/images/fish-n.svg" /> Fish &
                  Seafood</b-nav-item
                >
                <b-nav-item to=""
                  ><img src="@/assets/images/readtocook.svg" /> Ready to
                  Cook</b-nav-item
                >
                <b-nav-item to=""
                  ><img src="@/assets/images/river-fish.svg" /> River
                  Fish</b-nav-item
                >
                <b-nav-item to=""
                  ><img src="@/assets/images/readtocook.svg" /> Ready to
                  Eat</b-nav-item
                >
                <b-nav-item to=""
                  ><img src="@/assets/images/pre-order.svg" /> Pre
                  Order</b-nav-item
                >
              </b-navbar-nav>
            </b-collapse>
          </b-navbar>
        </div>
      </div>
    </header>
    <router-view />
    <footer class="pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-4">
            <img src="@/assets/images/logo.png" class="img-fluid footer-logo" />
          </div>
          <div class="col-md-7 d-flex">
            <ul>
              <li><h4>Quick Links</h4></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Shipping Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Why Choose Us?</a></li>
              <li><a href="#">Quality Measures</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Terms Of Services</a></li>
            </ul>
            <ul>
              <li><h4>Quick Links</h4></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Shipping Policy</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Why Choose Us?</a></li>
              <li><a href="#">Quality Measures</a></li>
              <li><a href="#">Return Policy</a></li>
              <li><a href="#">Terms Of Services</a></li>
            </ul>
            <div class="download-app">
              <h4>Download our App</h4>
              <a href="#" class="app"
                ><img src="@/assets/images/appstore.png"
              /></a>
              <a href="#" class="app"><img src="@/assets/images/gplay.png"/></a>
              <h4 class=" mt-4">Stay Connected</h4>
              <div class="social-media">
                <a href="#"
                  ><i class="fa fa-facebook-square" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-instagram" aria-hidden="true"></i
                ></a>
                <a href="#"
                  ><i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-6">
                <h4>Contact Us</h4>
                <p>
                  Call: 1800-2254-8978<br />
                  Email: support@freshoppe.com
                </p>
                <h4>Office Address</h4>
                <p>
                  Freshoppe Foods <br />
                  Plot No. 452, Pace City 2, Sector 37 <br />
                  Mysore, Karnataka<br />
                </p>
              </div>
              <div class="col-md-6">
                <img
                  src="@/assets/images/master.png"
                  class="img-fluid float-right"
                />
                <img
                  src="@/assets/images/freshcatch.png"
                  class="img-fluid float-right frshcatch"
                  style="max-width:180px;"
                />
              </div>
            </div>
          </div>
        </div>
        <hr />
        <div class="row footer-contents-wrap pt-3">
          <div class="col-md-12">
            <p class="mb-0">
              <strong>You know fresh meat tastes different?</strong>
            </p>
            <p class="pb-3">
              At Zappfresh, we believe in tradition, values and the goodness of
              fresh meat. Experience the taste, texture and tenderness of farm
              fresh meat delivered straight from high quality farms. No more
              compromises, no inconvenience, just the unmistakable, sweet smell
              of juicy, all-natural meat.
            </p>
            <p class="mb-0">
              <strong>Farm to table, same day delivery</strong>
            </p>
            <p class="pb-3">
              To ensure consistent availability of fresh meat, we are redefining
              practices for the meat industry with high quality farms, hygienic
              slaughter houses and state-of-the-art cold chain supply.
            </p>
            <p class="mb-0"><strong>We say no to chemicals</strong></p>
            <p class="pb-3">
              Fresh meat is delivered to you the same day the animal is
              butchered, through a unique end-to-end cold chain supply that
              ensures farm freshness and zero contamination. Our meat is tastier
              and healthier with no harmful chemicals, preservatives, artificial
              flavors.
            </p>
          </div>
        </div>
        <hr />
        <div class="row footer-contents-wrap pt-3">
          <div class="col-md-12">
            <p class="pb-3">
              <strong>Chicken :</strong> Free Range Chicken , Chicken Wings ,
              Boneless Chicken Breast , Boneless Chicken , Chicken Drumsticks ,
              Chicken Thighs , Chicken Kalmi , Chicken Supreme , Chicken Pieces
              , Whole Chicken , Chicken with Skin , Chicken Keema , Chicken
              Whole Leg
            </p>
            <p class="pb-3">
              <strong>Mutton :</strong> Mutton Chops , Mutton Liver , Mutton
              Pieces , Mutton Curry Cut , Boneless Mutton , Mutton Nihari ,
              Mutton Kidney , Mutton Keema
            </p>
            <p class="pb-3">
              <strong>Seafoods :</strong> Catla Fish Cut , Catla Fish , Tiger
              Prawns , Red Snapper Fish , Rohu Fish Cut , Rohu Fish , Surmai
              Fish , White Pomfret Fish , Basa Fish , Bhetki Fish Fillet ,
              Singhara Fish , Sole Fish Fillet , Tuna Fish , Salmon Fish
            </p>
            <p class="pb-3">
              <strong>Eggs :</strong> Eggs 6 Pack , Eggs 10 Pack
            </p>
            <p class="pb-3">
              <strong>Ready To Cook :</strong> Chicken Malai Tikka , Achari
              Chicken Tikka , Schezwan Fish , Chilli Chicken , Peri Peri Chicken
              Wings , Tandoori Chicken , Chicken Platter , Non-Veg Platter
            </p>
            <p class="pb-3">
              <strong>Ready To Eat :</strong> Chicken Seekh Kebab , Mutton Seekh
              Kebab , Chicken Spicy Seekh Kebab , Chicken Malai Seekh Kebab ,
              Chicken Nuggets , Chicken Fingers , Chicken Tikka , Chicken Samosa
              , Mutton Samosa , Spicy Chicken Wings , Spicy Chicken Lollipop ,
              Chicken Meatballs , Chicken Fries , Chicken Breast Strips
            </p>
            <p class="pb-3">
              <strong>Cold-Cuts :</strong> Chicken Frankfurters , Chicken Salami
              Plain , Chicken Salami , Chicken Ham , Chicken Mortadella ,
              Chicken Sausage
            </p>
            <p class="pb-3">
              <strong>Speciality Meats :</strong> Duck Curry Cut With Skin ,
              Turkey Curry Cut , Blue Crab - Whole
            </p>
          </div>
        </div>
        <hr />
        <div class="row footer-contents-wrap pt-3">
          <div class="col-md-12 text-center">
            <p class="mb-0">
              © 2021 Unifreshfoods Pvt Ltd. All Rights Reserved.
            </p>
            <p class="mb-0 developedby">
              Developed by :
              <a href="https://techinsoft.com/" target="_blank"
                >Techins Software Solutions</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
export default {
  data() {
    return {
      form: {
        place: null,
      },
      num: 0,
      place: [
        { text: "Mysore", value: null },
        "Bengaluru",
        "Mumbai",
        "Chennai",
      ],
      show: true,
    };
  },
};
</script>
